<div id="tabela_clientes_listagem_principal_container" class="hidden">
    <table id="tabela_clientes_listagem_principal" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th class="flex justify-end">Ações</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    function reloadTabelaClientes() {
        const tabela = $("#tabela_clientes_listagem_principal").DataTable();
        tabela.ajax.reload(null, false);
    }
    new DataTable("#tabela_clientes_listagem_principal", {
        language: {
            url: "/lang/pt-Br.json",
        },
        processing: true,
        serverSide: true,
        stateSave: true,
        ajax: {
            type: "GET",
            url: `/clientes/getDataTable`,
            beforeSend: function (xhr) {
                $("#tabela_clientes_listagem_principal_container").fadeOut();
                const tokenJWT = localStorage.getItem("gestao_facil:token");
                if (tokenJWT) {
                    xhr.setRequestHeader("Authorization", `Bearer ${tokenJWT}`);
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "Erro!",
                        text: "Você precisa estar logado para visualizar a página",
                        showConfirmButton: false,
                        timer: 3000,
                        position: "bottom-end",
                    });
                }
            },
            error: function (xhr, status, error) {
                const mensagem =
                    xhr.responseJSON?.message || "Erro inesperado na requisição";
                Swal.fire({
                    toast: true,
                    position: "bottom-end",
                    timer: 3000,
                    timerProgressBar: true,
                    showConfirmButton: false,
                    icon: "error",
                    title: "Erro!",
                    text: mensagem,
                });
                if (status === 401) window.location.href = "/login";
            },
            complete: function () {
                $("#tabela_clientes_listagem_principal_container").fadeIn(100);
            },
        },
        columns: [
            { data: "Uid" },
            { data: "status" },
            { data: "nome" },
            { data: "email" },
            { data: "telefone" },
            {
                data: "acoes",
                className: "flex justify-end",
                searchable: false,
                orderable: false,
            },
        ],
    });
</script>