<div id="tabela_lancamentos_listagem_principal_container">
    <table id="tabela_lancamentos_listagem_principal" class="display nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Pagamento</th>
                <th>Data</th>
                <th class="flex justify-end">Ações</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    function reloadTabelaLancamentos() {
        const tabela = $("#tabela_lancamentos_listagem_principal").DataTable();
        tabela.ajax.reload(null, false);
    }
    new DataTable("#tabela_lancamentos_listagem_principal", {
        language: {
            url: "/lang/pt-Br.json",
        },
        fixedColumns: {
            start: 0,
            end: 1
        },
        scrollCollapse: true,
        scrollX: true,
        processing: true,
        serverSide: true,
        stateSave: true,
        ajax: {
            type: "GET",
            url: `/api/lancamentos/getDataTable`,
            headers: {
                "Authorization": "Bearer " + localStorage.getItem("gestao_facil:token"),
            },
            data: function (d) {
                d.tipo = $("#tipoLancamentoFiltroLancamento").val() || null;
                d.conta = $("#contasFinanceiroFiltroLancamento").val() || null;
                d.status = $("#statusFiltroLancamento").val() || null;
                d.categoria = $("#categoriaFiltroLancamento").val() || null;
                d.pagamento = $("#formaPagamentoFiltroLancamento").val() || null;
                d.cliente = $("#clienteFiltroLancamento").val() || null;
                d.valorMinimo = $("#valorMinimoFilterLancamento").val() || null;
                d.valorMaximo = $("#valorMaximoFilterLancamento").val() || null;
            },
            error: function (xhr, status, error) {
                console.log("tabela_lancamentos:" + error);
            },
        },
        columns: [
            { data: "Uid", className: "bg-gray-50 dark:bg-gray-900" },
            { data: "status" },
            { data: "descricao" },
            { data: "valorTotal" },
            { data: "tipo" },
            { data: "forma", orderable: false, searchable: false },
            { data: "dataLancamento" },
            {
                data: "acoes",
                orderable: false,
                searchable: false,
                className: "flex justify-end bg-gray-50 dark:bg-gray-900",
            },
        ],
    });
</script>