<div id="tabela_lancamentos_listagem_principal_container" class="hidden">
    <table id="tabela_lancamentos_listagem_principal" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Pagamento</th>
                <th>Data</th>
                <th class="flex justify-end">Ações</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    function reloadTabelaLancamentos() {
        const tabela = $("#tabela_lancamentos_listagem_principal").DataTable();
        tabela.ajax.reload(null, false);
    }
    new DataTable("#tabela_lancamentos_listagem_principal", {
        language: {
            url: "/lang/pt-Br.json",
        },
        processing: true,
        serverSide: true,
        stateSave: true,
        ajax: {
            type: "GET",
            url: `/api/lancamentos/getDataTable`,
            data: function (d) {
                d.tipo = $("#tipoLancamentoFiltroLancamento").val() || null;
                d.conta = $("#contasFinanceiroFiltroLancamento").val() || null;
                d.status = $("#statusFiltroLancamento").val() || null;
                d.categoria = $("#categoriaFiltroLancamento").val() || null;
                d.pagamento = $("#formaPagamentoFiltroLancamento").val() || null;
                d.cliente = $("#clienteFiltroLancamento").val() || null;
                d.valorMinimo = $("#valorMinimoFilterLancamento").val() || null;
                d.valorMaximo = $("#valorMaximoFilterLancamento").val() || null;
            },
            beforeSend: function (xhr) {
                $("#tabela_lancamentos_listagem_principal_container").fadeOut();
                const tokenJWT = localStorage.getItem("gestao_facil:token");
                if (tokenJWT) {
                    xhr.setRequestHeader("Authorization", `Bearer ${tokenJWT}`);
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "Erro!",
                        text: "Você precisa estar logado para visualizar a página",
                        showConfirmButton: false,
                        timer: 3000,
                        position: "bottom-end",
                    });
                }
            },
            error: function (xhr, status, error) {
                const mensagem =
                    xhr.responseJSON?.message || "Erro inesperado na requisição";
                Swal.fire({
                    toast: true,
                    position: "bottom-end",
                    timer: 3000,
                    timerProgressBar: true,
                    showConfirmButton: false,
                    icon: "error",
                    title: "Erro!",
                    text: mensagem,
                });
                if (status === 401) window.location.href = "/login";
            },
            complete: function () {
                $("#tabela_lancamentos_listagem_principal_container").fadeIn(100);
            },
        },
        columns: [
            { data: "Uid" },
            { data: "status" },
            { data: "descricao" },
            { data: "valorTotal" },
            { data: "tipo" },
            { data: "forma", orderable: false, searchable: false },
            { data: "dataLancamento" },
            {
                data: "acoes",
                className: "flex justify-end",
                searchable: false,
                orderable: false,
            },
        ],
    });
</script>