DATABASE_URL="mysql://USER:PASSWORD@ADRESS:PORT/DBNAME"
BASE_URL=""
PORT=
BASE_URL_FRONTEND=""
JWT_SECRET="YOURSECRET"
NODE_ENV="development"
REQUIRED_JWT="true"
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
REDIS_HOST=""
REDIS_PORT=45645
REDIS_PASSWORD=""
ASAAS_API_KEY=""
ASAAS_WEBHOOK_SECRET=""
MP_ACCESS_TOKEN=""
EMAIL_SENDER=""
EMAIL_PASSWORD=""