<div>
    <div class="flex flex-col md:flex-row gap-2 justify-between items-center mb-4">
        <h2 class="text-2xl font-bold text-black dark:text-white">
            <i class="fa-solid fa-user text-indigo-600"></i>
            Usuários
        </h2>
        <button onclick="openModalFormulariousuarios()"
            class="bg-secondary hidden md:block hover:bg-secondary-dark text-white px-3 py-1.5 text-sm rounded-md">
            <i class="fa-solid fa-circle-plus"></i> Novo usuário
        </button>
    </div>
    <div class="overflow-x-auto hidden md:block shadow rounded-lg border border-gray-200 px-2 dark:border-gray-700"
        hx-get="/administracao/usuarios/tabela" hx-trigger="load" hx-swap="innerHTML"></div>
    <div class="overflow-x-auto block md:hidden rounded-lg" hx-get="/administracao/usuarios/mobile/lista" hx-trigger="load"
        hx-swap="innerHTML"></div>
</div>

{{> administracao/modais/formulario}}