<div id="tabela_usuarios_listagem_principal_container">
    <table id="tabela_usuarios_listagem_principal" class="display w-full">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Status</th>
                <th>Notificação</th>
                <th>Email</th>
                <th>Permissão</th>
                <th>Criado</th>
                <th>Ações</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    function excluirusuarioSistema(id) {
        Swal.fire({
            title: "Excluir usuário",
            text: "Tem certeza que deseja excluir este usuário?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sim, excluir!",
            cancelButtonText: "Cancelar",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    dataType: "json",
                    type: "DELETE",
                    url: `/api/usuarios/delete/${id}`,
                    beforeSend: function (xhr) {
                        const tokenJWT = localStorage.getItem("gestao_facil:token");
                        if (tokenJWT) {
                            xhr.setRequestHeader("Authorization", `Bearer ${tokenJWT}`);
                        }
                        Swal.fire({
                            title: "Carregando...",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            showConfirmButton: false,
                            didOpen: () => {
                                Swal.showLoading();
                            },
                        });
                    },
                    success: function (response) {
                        Swal.close();
                        showNotification(response.message, 'success');
                        if (typeof reloadTabelaUsuarios === "function") {
                            reloadTabelaUsuarios();
                        }
                    },
                    error: function (error) {
                        console.log(error);
                        Swal.close();
                        showNotification(error.responseJSON?.message || 'Erro inesperado na requisição', 'error');
                    }
                })
            }
        });
    }


    function reloadTabelaUsuarios() {
        const tabela = $("#tabela_usuarios_listagem_principal").DataTable();
        tabela.ajax.reload(null, false);
    }
    new DataTable("#tabela_usuarios_listagem_principal", {
        language: {
            url: "/lang/pt-Br.json",
        },
        processing: true,
        serverSide: true,
        ajax: {
            type: "GET",
            url: `/api/usuarios`,
            headers: {
                "Authorization": "Bearer " + localStorage.getItem("gestao_facil:token"),
            },
            error: function (xhr, status, error) {
                console.log("tabela_usuarios:" + error);
            },
        },
        columns: [
            { data: "nome" },
            { data: "email", className: "hidden md:table-cell" },
            { data: "status", className: "hidden md:table-cell" },
            { data: "pushReceiver", className: "hidden md:table-cell" },
            { data: "emailReceiver", className: "hidden md:table-cell" },
            { data: "permissao", className: "hidden md:table-cell" },
            {
                data: "createdAt",
                render: function (data) { return moment(data).format("DD/MM/YYYY"); },
                className: "hidden md:table-cell"
            },
            { data: "acoes", orderable: false, searchable: false, className: "flex justify-end" },
        ],
    });
</script>