<div id="modalOverlayDREFinanceiro"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 hidden transition-opacity duration-300">
    <div id="sheetContainerDREFinanceiro"
        class="bg-gray-100 dark:bg-background-dark w-full max-w-lg mx-auto rounded-lg shadow-xl transform scale-95 opacity-0 transition-all duration-300 ease-in-out overflow-hidden">
        <div
            class="bg-card dark:bg-card-dark px-6 py-4 border-b border-border dark:border-border-dark flex justify-between items-center">
            <h2 class="text-xl font-bold"><i class="fa-solid fa-file-pdf text-orange-600"></i> Gerar DRE</h2>
            <button onclick="closeModalDREFinanceiro()"
                class="text-gray-800 dark:text-white hover:text-gray-400 transition">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>

        <div class="overflow-y-auto flex">
            <form id="modalFormularioFiltroLancamentos" class="w-full">
                <div class="gap-4 p-6 max-h-[calc(100vh-8rem)] w-full overflow-y-auto">
                    <div class="grid grid-cols-1 gap-6">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                            <!-- Valor Total -->
                            <div>
                                <label for="dataInicioDre" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-calendar-day"></i>
                                    Início
                                </label>
                                <input type="date" id="dataInicioDre" name="dataInicioDre"
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>

                            <!-- Parcelas -->
                            <div>
                                <label for="dataFimDre" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-calendar-day"></i>
                                    Fim
                                </label>
                                <input type="date" id="dataFimDre" name="dataFimDre"
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Rodapé -->
        <div class="px-6 py-4 bg-card dark:bg-card-dark border-t border-border dark:border-border-dark">
            <div class="flex gap-3">
                <button type="button" onclick="gerarDREFinanceiro(1)"
                    class="w-full px-4 py-2 cursor-pointer flex justify-center items-center gap-2 text-sm font-medium border-2 border-orange-500 hover:border-orange-700 text-orange-900 dark:text-orange-200 bg-orange-500/20 rounded-md shadow transition">
                    <i class="fa-solid fa-file-pdf"></i>
                    Gerar V1
                </button>
                <button type="button" onclick="gerarDREFinanceiro(2)"
                    class="w-full px-4 py-2 cursor-pointer flex justify-center items-center gap-2 text-sm font-medium border-2 border-orange-500 hover:border-orange-700 text-orange-900 dark:text-orange-200 bg-orange-500/20 rounded-md shadow transition">
                    <i class="fa-solid fa-file-pdf"></i>
                    Gerar V2
                </button>
                <button type="button" onclick="closeModalDREFinanceiro()"
                    class="w-full px-4 py-2 text-sm font-medium text-gray-800 dark:border-gray-500 dark:text-white bg-gray-300 dark:bg-gray-900 border rounded-md transition">
                    Cancelar
                </button>
            </div>
        </div>

    </div>
</div>


<script>
    function openModalDREFinanceiro() {
        const overlay = document.getElementById('modalOverlayDREFinanceiro');
        const modal = document.getElementById('sheetContainerDREFinanceiro');

        overlay.classList.remove('hidden');
        document.body.style.overflow = 'hidden';

        // Força reflow
        void modal.offsetWidth;

        modal.classList.remove('opacity-0', 'scale-95');
        modal.classList.add('opacity-100', 'scale-100');
    }

    function closeModalDREFinanceiro() {
        const overlay = document.getElementById('modalOverlayDREFinanceiro');
        const modal = document.getElementById('sheetContainerDREFinanceiro');

        modal.classList.remove('opacity-100', 'scale-100');
        modal.classList.add('opacity-0', 'scale-95');

        setTimeout(() => {
            overlay.classList.add('hidden');
            document.body.style.overflow = 'auto';
        }, 300);
    }

    // Fechamento por ESC e clique fora
    document.addEventListener('keydown', e => e.key === 'Escape' && closeModalDREFinanceiro());
    document.getElementById('modalOverlayDREFinanceiro').addEventListener('click', e => {
        if (e.target === e.currentTarget) closeModalDREFinanceiro();
    });

    function gerarDREFinanceiro(version = 1) {
        const dataInicio = document.getElementById('dataInicioDre').value;
        const dataFim = document.getElementById('dataFimDre').value;

        if (dataInicio === '') return showNotification('Selecione uma data de inicio.', "error");
        if (dataFim === '') return showNotification('Selecione uma data de fim.', "error");

        fetch(`/lancamentos/relatorios/dre-pdf${version === 2 ? '-2' : ''}?inicio=${dataInicio}&fim=${dataFim}`, {
            method: "GET",
            headers: {
                Authorization: `Bearer ${localStorage.getItem("gestao_facil:token")}`,
            }
        })
            .then((response) => response.blob())
            .then((blob) => {

                if (window.innerWidth < 768) {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement("a");
                    a.href = url;
                    a.download = `dre_v${version === 2 ? '2' : '1'}_${dataInicio}_${dataFim}.pdf`;
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                } else {
                    const url = window.URL.createObjectURL(blob);
                    window.open(url, "_blank");
                }
                closeModalDREFinanceiro();
            })
            .catch(() => showNotification('Erro ao gerar relatório.', "error"));
    }
</script>