<div id="modalOverlayFinanceiro"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 hidden transition-opacity duration-300">

    <!-- Modal -->
    <div id="sheetContainerFinanceiro"
        class="bg-gray-100 dark:bg-background-dark w-full max-w-3xl mx-auto rounded-lg shadow-xl transform scale-95 opacity-0 transition-all duration-300 ease-in-out overflow-hidden">

        <!-- Cabeçalho -->
        <div
            class="bg-card dark:bg-card-dark px-6 py-4 flex justify-between items-center">
            <h2 class="text-xl font-bold"><i class="fa-solid fa-coins text-emerald-600"></i> Novo Lançamento</h2>
            <button onclick="closeModalFinanceiro()"
                class="text-gray-800 dark:text-white hover:text-gray-400 transition">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>

        <div class="overflow-y-auto flex">
            <form id="modalFormularioLancamentos" class="w-full">
                <div class="gap-4 p-6 max-h-[calc(100vh-8rem)] w-full overflow-y-auto">
                    <div class="grid grid-cols-1 gap-6">

                        <!-- Descrição -->
                        <div>
                            <label for="descricao" class="block text-sm font-medium mb-1">
                                <i class="fa-solid fa-quote-right"></i>
                                Descrição *
                            </label>
                            <input type="text" id="descricao" name="descricao" required
                                placeholder="Ex: Venda de 1 notebook"
                                class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                            <!-- Tipo -->
                            <div>
                                <label for="tipo" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-coins"></i>
                                    Tipo *
                                </label>
                                <select id="tipoLancamento" name="tipo" required
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                                    <option value="">Selecione o tipo</option>
                                    <option value="RECEITA">Receita</option>
                                    <option value="DESPESA">Despesa</option>
                                </select>
                            </div>

                            <!-- Valor Total -->
                            <div>
                                <label for="valorTotalLancamento" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                    Valor Total *
                                </label>
                                <input type="text" id="valorTotalLancamento" name="valorTotal" required
                                    placeholder="0,00"
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>

                            <!-- Parcelas -->
                            <div>
                                <label for="parcelas" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-layer-group"></i>
                                    Parcelas *
                                </label>
                                <input type="number" id="parcelas" name="parcelas" required min="1" value="1"
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                            <!-- Valor Entrada -->
                            <div>
                                <label for="valorEntrada" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                    Valor Entrada
                                </label>
                                <input type="text" id="valorEntrada" name="valorEntrada"
                                    placeholder="0,00"
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>

                            <!-- Data Entrada -->
                            <div>
                                <label for="dataEntrada" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-calendar-day"></i>
                                    Data Entrada
                                </label>
                                <input type="date" id="dataEntrada" disabled name="dataEntrada"
                                    class="w-full p-1.5 rounded-md disabled:bg-gray-300 dark:disabled:bg-gray-900 border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                            <!-- Desconto -->
                            <div>
                                <label for="descontoFormularioLancamento" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                    Desconto
                                </label>
                                <input type="text" id="descontoFormularioLancamento" name="desconto" placeholder="0,00"
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>

                            <!-- Forma de Pagamento -->
                            <div>
                                <label for="formaPagamento" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-coins"></i>
                                    Forma de Pagamento *
                                </label>
                                <select id="formaPagamento" name="formaPagamento" required
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                                    <option value="">Selecione a forma</option>
                                    <option value="PIX">PIX</option>
                                    <option value="DINHEIRO">Dinheiro</option>
                                    <option value="CREDITO">Cartão de Crédito</option>
                                    <option value="DEBITO">Cartão de Débito</option>
                                    <option value="BOLETO">Boleto</option>
                                    <option value="TRANSFERENCIA">Transferência</option>
                                </select>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                            <!-- Cliente -->
                            <div>
                                <label for="clienteId" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-user"></i>
                                    Cliente
                                    <a onclick="openModalClientes()" class="text-blue-500 px-2 cursor-pointer">Novo
                                        cliente</a>
                                </label>
                                <select id="clienteId" name="clienteId"
                                    class="w-full p-2.5 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark"></select>
                            </div>

                            <!-- Categoria -->
                            <div>
                                <label for="categoriaId" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-layer-group"></i>
                                    Categoria *
                                </label>
                                <select id="categoriaId" name="categoriaId" required
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark"></select>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                            <!-- Data Lançamento -->
                            <div>
                                <label for="dataLancamento" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-calendar-day"></i>
                                    Data Lançamento *
                                </label>
                                <input type="text" placeholder="dd/mm/aaaa" id="dataLancamento" name="dataLancamento" required
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>

                            <!-- Conta Financeiro -->
                            <div>
                                <label for="contasFinanceiroId" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-wallet"></i>
                                    Conta Financeira *
                                </label>
                                <select id="contasFinanceiroId" name="contasFinanceiroId" required
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark"></select>
                            </div>
                        </div>
                        <input type="submit" class="hidden" id="botaoSalvarFormularioLancamento">
                    </div>
                </div>
            </form>
        </div>

        <!-- Rodapé -->
        <div class="px-6 py-4 bg-card dark:bg-card-dark">
            <div class="flex gap-3">
                <label for="botaoSalvarFormularioLancamento"
                    class="w-full px-4 py-2 cursor-pointer flex justify-center text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 rounded-md shadow transition">
                    Salvar
                </label>
                <button type="button" onclick="closeModalFinanceiro()"
                    class="w-full px-4 py-2 text-sm font-medium text-gray-800 dark:text-white bg-gray-300 dark:bg-gray-900 border rounded-md transition">
                    Cancelar
                </button>
            </div>
        </div>

    </div>
</div>


<script>
    MaskMoneyNative('#valorEntrada');
    MaskMoneyNative('#descontoFormularioLancamento');
    MaskMoneyNative('#valorTotalLancamento');

    flatpickr("#dataLancamento", {
        altInput: true,
        altFormat: "j \\de F \\de Y",
        dateFormat: "Y-m-d",
        locale: "pt",
    });


    function openModalFinanceiro() {
        const overlay = document.getElementById('modalOverlayFinanceiro');
        const modal = document.getElementById('sheetContainerFinanceiro');

        overlay.classList.remove('hidden');
        document.body.style.overflow = 'hidden';

        // Força reflow
        void modal.offsetWidth;

        modal.classList.remove('opacity-0', 'scale-95');
        modal.classList.add('opacity-100', 'scale-100');
    }

    function closeModalFinanceiro() {
        const overlay = document.getElementById('modalOverlayFinanceiro');
        const modal = document.getElementById('sheetContainerFinanceiro');

        modal.classList.remove('opacity-100', 'scale-100');
        modal.classList.add('opacity-0', 'scale-95');

        setTimeout(() => {
            overlay.classList.add('hidden');
            document.body.style.overflow = 'auto';
        }, 300);
    }

    // Fechamento por ESC e clique fora
    document.addEventListener('keydown', e => e.key === 'Escape' && closeModalFinanceiro());

    $("#formaPagamento").select2({
        placeholder: 'Forma de Pagamento',
        width: '100%',
        language: "pt-BR",
    });
    $("#tipoLancamento").select2({
        placeholder: 'Tipo de Lançamento',
        width: '100%',
        language: "pt-BR",
    });

    $("#categoriaId").select2({
        placeholder: 'Selecione uma categoria',
        width: '100%',
        language: "pt-BR",
        ajax: {
            url: '/lancamentos/categorias/select2',
            dataType: 'json',
            delay: 250,
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('gestao_facil:token')}`
            },
            data: function (params) {
                return {
                    search: params.term
                }
            },
            processResults: function (data) {
                return {
                    results: data.results
                };
            }
        }
    });
    $("#contasFinanceiroId").select2({
        placeholder: 'Selecione uma conta',
        width: '100%',
        language: "pt-BR",
        ajax: {
            url: '/lancamentos/contas/select2',
            dataType: 'json',
            delay: 250,
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('gestao_facil:token')}`
            },
            data: function (params) {
                return {
                    search: params.term
                }
            },
            processResults: function (data) {
                return {
                    results: data.results
                };
            }
        }
    });

    $("#clienteId").select2({
        placeholder: 'Selecione um cliente',
        width: '100%',
        allowClear: true,
        language: "pt-BR",
        ajax: {
            url: '/clientes/select2/lista',
            dataType: 'json',
            delay: 250,
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('gestao_facil:token')}`
            },
            data: function (params) {
                return {
                    search: params.term
                }
            },
            processResults: function (data) {
                return {
                    results: data.results
                };
            }
        }
    });

    document.querySelector("#modalFormularioLancamentos").addEventListener("submit", (e) => {
        e.preventDefault();

        $.ajax({
            url: "/lancamentos",
            method: "POST",
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem("gestao_facil:token")
            },
            data: $("#modalFormularioLancamentos").serialize(),
            success: function (data) {
                closeModalFinanceiro();
                showNotification(data.message, 'success');
                if (typeof reloadTabelaLancamentos === "function") {
                    reloadTabelaLancamentos();
                }
                if (typeof renderListaLancamentos === "function") {
                    renderListaLancamentos();
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr);
                showNotification(xhr.responseJSON?.message || 'Erro inesperado na requisição', 'error');
            }
        })
    })

    document.querySelector("#valorEntrada").addEventListener("input", (e) => {
        const hasValue = e.target.value;
        const dataEntrada = document.querySelector("#dataEntrada");
        if (hasValue) {
            dataEntrada.required = true;
            dataEntrada.value = new Date().toISOString().split('T')[0];
            dataEntrada.disabled = false;
        } else {
            dataEntrada.required = false;
            dataEntrada.value = null;
            dataEntrada.disabled = true;
        }
    });

</script>