<div id="modalOverlayFinanceiro"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 hidden transition-opacity duration-300">

    <!-- Modal -->
    <div id="sheetContainerFinanceiro"
        class="bg-gray-100 dark:bg-background-dark w-full max-w-3xl mx-auto rounded-lg shadow-xl transform scale-95 opacity-0 transition-all duration-300 ease-in-out overflow-hidden">

        <!-- Cabeçalho -->
        <div
            class="bg-inherit border-b border-border dark:border-border-dark px-6 py-4 flex justify-between items-center">
            <h2 class="text-xl font-bold"><i class="fa-solid fa-coins text-emerald-600"></i> Novo Lançamento</h2>
            <button onclick="closeModalFinanceiro()"
                class="text-gray-800 dark:text-white hover:text-gray-400 transition">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>

        <div class="overflow-y-auto flex">
            <form id="modalFormularioLancamentos" class="w-full">
                <div class="gap-4 p-6 max-h-[calc(100vh-8rem)] w-full overflow-y-auto">
                    <div class="grid grid-cols-1 gap-6">

                        <!-- Descrição -->
                        <div>
                            <label for="descricao" class="block text-sm font-medium mb-1">
                                <i class="fa-solid fa-quote-right"></i>
                                Descrição *
                            </label>
                            <input type="text" id="descricao" name="descricao" required
                                placeholder="Ex: Venda de 1 notebook"
                                class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                            <!-- Tipo -->
                            <div>
                                <label for="tipoLancamentoFinanceiro" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-coins"></i>
                                    Tipo *
                                </label>
                                <select id="tipoLancamentoFinanceiro" name="tipo" required
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                                    <option value="">Selecione o tipo</option>
                                    <option value="RECEITA">Receita</option>
                                    <option value="DESPESA">Despesa</option>
                                </select>
                            </div>

                            <!-- Valor Total -->
                            <div>
                                <label for="valorTotalLancamento" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                    Valor Total *
                                </label>
                                <input type="text" id="valorTotalLancamento" name="valorTotal" required
                                    placeholder="0,00"
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>
                            <!-- Valor Total -->
                            <div>
                                <label for="metodoLancamentoModoLancamento" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-coins"></i>
                                    Método *
                                </label>
                                <select name="tipoLancamentoModo" id="metodoLancamentoModoLancamento" required
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                                    <option value="">Forma de pagamento</option>
                                    <option value="AVISTA">À vista</option>
                                    <option value="PARCELADO">Parcelado</option>
                                </select>
                            </div>

                        </div>

                        <div id="modalFormularioLancamentosParcelamento"
                            class="grid hidden grid-cols-1 md:grid-cols-3 gap-2">
                            <!-- Parcelas -->
                            <div>
                                <label for="parcelas" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-layer-group"></i>
                                    Parcelas *
                                </label>
                                <input type="number" id="parcelas" name="parcelas" required min="1" value="1"
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>
                            <!-- Valor Entrada -->
                            <div>
                                <label for="valorEntradaLancamento" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                    Valor Entrada
                                </label>
                                <input type="text" id="valorEntradaLancamento" name="valorEntrada" placeholder="0,00"
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>

                            <!-- Data Entrada -->
                            <div>
                                <label for="dataEntradaLancamento" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-calendar-day"></i>
                                    Data Entrada
                                </label>
                                <input type="text" placeholder="dd/mm/aaaa" id="dataEntradaLancamento"
                                    name="dataEntrada"
                                    class="w-full p-2 rounded-md disabled:bg-gray-300 dark:disabled:bg-gray-900 border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                            <!-- Desconto -->
                            <div>
                                <label for="descontoFormularioLancamento" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                    Desconto
                                </label>
                                <input type="text" id="descontoFormularioLancamento" name="desconto" placeholder="0,00"
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>

                            <!-- Forma de Pagamento -->
                            <div>
                                <label for="formaPagamentoLancamento" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-coins"></i>
                                    Forma de Pagamento *
                                </label>
                                <select id="formaPagamentoLancamento" name="formaPagamento" required
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                                    <option value="">Selecione a forma</option>
                                    <option value="PIX">PIX</option>
                                    <option value="DINHEIRO">Dinheiro</option>
                                    <option value="CREDITO">Cartão de Crédito</option>
                                    <option value="DEBITO">Cartão de Débito</option>
                                    <option value="BOLETO">Boleto</option>
                                    <option value="TRANSFERENCIA">Transferência</option>
                                </select>
                            </div>

                            <div class="block text-sm font-medium mb-1">
                                <span class="block text-sm font-medium mb-0">
                                    <i class="fa-solid fa-check"></i>
                                    Efetivado
                                </span>
                                <div class="gap-2 mt-1 items-center">
                                    <div>
                                        <label for="lancamentoEfetivadoTotal"
                                            class="border block cursor-pointer bg-card dark:bg-card-dark border-border dark:border-border-dark px-3 py-2.5 rounded-md">
                                            <div class="flex items-center">
                                                <label class="relative inline-flex items-center cursor-pointer">
                                                    <input type="checkbox" id="lancamentoEfetivadoTotal"
                                                        name="lancamentoEfetivado" class="sr-only peer" />
                                                    <div
                                                        class="w-9 h-5 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-primary dark:peer-focus:ring-primary-dark dark:bg-gray-700 rounded-full peer peer-checked:after:translate-x-4 peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-primary dark:peer-checked:bg-primary-dark">
                                                    </div>
                                                    <span
                                                        class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Efetivado</span>
                                                </label>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                            <!-- Cliente -->
                            <div>
                                <label for="clienteIdLancamento" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-user"></i>
                                    Cliente
                                    <a onclick="openModalClientes()" class="text-blue-500 px-2 cursor-pointer">Novo</a>
                                </label>
                                <select id="clienteIdLancamento" name="clienteId"
                                    class="w-full p-2.5 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark"></select>
                            </div>

                            <!-- Categoria -->
                            <div>
                                <label for="categoriaIdLancamento" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-layer-group"></i>
                                    Categoria *
                                    <a onclick="openModalCategoriaFinanceira()"
                                        class="text-blue-500 px-2 cursor-pointer">Nova</a>
                                </label>
                                <select id="categoriaIdLancamento" name="categoriaId" required
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark"></select>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                            <!-- Data Lançamento -->
                            <div>
                                <label for="dataFinanceiroLancamento" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-calendar-day"></i>
                                    Data Lançamento *
                                </label>
                                <input type="text" placeholder="dd/mm/aaaa" id="dataFinanceiroLancamento"
                                    name="dataLancamento" required
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark">
                            </div>

                            <!-- Conta Financeiro -->
                            <div>
                                <label for="contasFinanceiroId" class="block text-sm font-medium mb-1">
                                    <i class="fa-solid fa-wallet"></i>
                                    Conta Financeira *
                                    <a onclick="openModalContasFinanceiras()"
                                        class="text-blue-500 px-2 cursor-pointer">Nova</a>
                                </label>
                                <select id="contasFinanceiroId" name="contasFinanceiroId" required
                                    class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark"></select>
                            </div>
                        </div>
                        <input type="submit" class="hidden" id="botaoSalvarFormularioLancamento">
                    </div>
                </div>
            </form>
        </div>

        <!-- Rodapé -->
        <div class="px-6 py-4 bg-inherit border-t border-border dark:border-border-dark">
            <div class="flex gap-3">
                <label for="botaoSalvarFormularioLancamento"
                    class="w-full px-4 py-2 cursor-pointer flex justify-center items-center gap-2 text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 rounded-md shadow transition">
                    <i class="fa-solid fa-circle-check"></i>
                    Salvar
                </label>
                <button type="button" onclick="closeModalFinanceiro()"
                    class="w-full px-4 py-2 text-sm font-medium text-gray-800 dark:text-white bg-gray-300 dark:bg-gray-800 rounded-md transition">
                    Cancelar
                </button>
            </div>
        </div>

    </div>
</div>


<script>
    MaskMoneyNative('#valorEntradaLancamento');
    MaskMoneyNative('#descontoFormularioLancamento');
    MaskMoneyNative('#valorTotalLancamento');

    flatpickr("#dataFinanceiroLancamento", {
        altInput: true,
        altFormat: "j \\de F \\de Y",
        dateFormat: "Y-m-d",
        locale: "pt",
    });

    flatpickr("#dataEntradaLancamento", {
        altInput: true,
        altFormat: "j \\de F \\de Y",
        dateFormat: "Y-m-d",
        locale: "pt",
        maxDate: "today",
        clickOpens: false
    });

    $("#valorEntradaLancamento").on('input', function () {
        const valor = $(this).val();
        const dataEntrada = document.querySelector("#dataEntradaLancamento");

        const numero = parseFloat(String(valor).replace(",", "."));

        if (!isNaN(numero) && numero > 0) {
            setStatusDataEntradaLancamento(true);
        } else {
            setStatusDataEntradaLancamento(false);
        }
    })


    function openModalFinanceiro() {
        const overlay = document.getElementById('modalOverlayFinanceiro');
        const modal = document.getElementById('sheetContainerFinanceiro');

        overlay.classList.remove('hidden');
        document.body.style.overflow = 'hidden';

        // Força reflow
        void modal.offsetWidth;

        modal.classList.remove('opacity-0', 'scale-95');
        modal.classList.add('opacity-100', 'scale-100');
    }

    function closeModalFinanceiro() {
        const overlay = document.getElementById('modalOverlayFinanceiro');
        const modal = document.getElementById('sheetContainerFinanceiro');

        modal.classList.remove('opacity-100', 'scale-100');
        modal.classList.add('opacity-0', 'scale-95');

        setTimeout(() => {
            overlay.classList.add('hidden');
            document.body.style.overflow = 'auto';
        }, 300);
    }

    // Fechamento por ESC e clique fora
    document.addEventListener('keydown', e => e.key === 'Escape' && closeModalFinanceiro());

    $("#formaPagamentoLancamento").select2({
        placeholder: 'Forma de Pagamento',
        width: '100%',
        language: "pt-BR",
    });
    $("#metodoLancamentoModoLancamento").select2({
        placeholder: 'Método',
        width: '100%',
        language: "pt-BR",
    });
    $("#tipoLancamentoFinanceiro").select2({
        placeholder: 'Tipo de Lançamento',
        width: '100%',
        language: "pt-BR",
    });

    $("#categoriaIdLancamento").select2({
        placeholder: 'Selecione uma categoria',
        width: '100%',
        language: "pt-BR",
        ajax: {
            url: '/api/lancamentos/categorias/select2',
            dataType: 'json',
            delay: 250,
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('gestao_facil:token')}`
            },
            data: function (params) {
                return {
                    search: params.term
                }
            },
            processResults: function (data) {
                return {
                    results: data.results
                };
            }
        }
    });
    $("#contasFinanceiroId").select2({
        placeholder: 'Selecione uma conta',
        width: '100%',
        language: "pt-BR",
        ajax: {
            url: '/api/lancamentos/contas/select2',
            dataType: 'json',
            delay: 250,
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('gestao_facil:token')}`
            },
            data: function (params) {
                return {
                    search: params.term
                }
            },
            processResults: function (data) {
                return {
                    results: data.results
                };
            }
        }
    });

    $("#clienteIdLancamento").select2({
        placeholder: 'Selecione um cliente',
        width: '100%',
        allowClear: true,
        language: "pt-BR",
        ajax: {
            url: '/api/clientes/select2/lista',
            dataType: 'json',
            delay: 250,
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('gestao_facil:token')}`
            },
            data: function (params) {
                return {
                    search: params.term
                }
            },
            processResults: function (data) {
                return {
                    results: data.results
                };
            }
        }
    });

    $("#metodoLancamentoModoLancamento").change(function () {
        const formulario = document.getElementById('modalFormularioLancamentos');
        const dataEntrada = document.querySelector("#dataEntradaLancamento");
        if ($(this).val() === "PARCELADO") {
            $("#modalFormularioLancamentosParcelamento").removeClass('hidden');
            formulario.parcelas.required = true;
        } else {
            $("#modalFormularioLancamentosParcelamento").addClass('hidden');
            formulario.parcelas.value = 1;
            formulario.parcelas.required = false;
            formulario.valorEntrada.value = null;
            setStatusDataEntradaLancamento(false);
        }
    });

    function setStatusDataEntradaLancamento(state) {
        if (!state) {
            const dataEntrada = document.querySelector("#dataEntradaLancamento");
            dataEntrada._flatpickr.setDate(null);
            dataEntrada._flatpickr.destroy();
            flatpickr("#dataEntradaLancamento", {
                altInput: true,
                altFormat: "j \\de F \\de Y",
                dateFormat: "Y-m-d",
                locale: "pt",
                maxDate: "today",
                clickOpens: false
            });
        } else {
            const dataEntrada = document.querySelector("#dataEntradaLancamento");
            dataEntrada._flatpickr.destroy();
            flatpickr("#dataEntradaLancamento", {
                altInput: true,
                altFormat: "j \\de F \\de Y",
                dateFormat: "Y-m-d",
                locale: "pt",
                maxDate: "today",
                defaultDate: new Date(),
            });
        }
    }

    function resetAllSelect2Itens() {
        $("#tipoLancamentoFinanceiro").val(null).trigger('change');
        $("#clienteIdLancamento").val(null).trigger('change');
        $("#metodoLancamentoModoLancamento").val(null).trigger('change');
        $("#formaPagamentoLancamento").val(null).trigger('change');
    }

    document.querySelector("#modalFormularioLancamentos").addEventListener("submit", (e) => {
        e.preventDefault();

        $.ajax({
            url: "/api/lancamentos",
            method: "POST",
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem("gestao_facil:token")
            },
            data: $("#modalFormularioLancamentos").serialize(),
            success: function (data) {
                closeModalFinanceiro();
                showNotification(data.message, 'success');
                const formulario = document.getElementById('modalFormularioLancamentos');
                formulario.reset();
                resetAllSelect2Itens();
                if (typeof reloadTabelaLancamentos === "function") {
                    reloadTabelaLancamentos();
                }
                if (typeof renderListaLancamentos === "function") {
                    renderListaLancamentos();
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr);
                showNotification(xhr.responseJSON?.message || 'Erro inesperado na requisição', 'error');
            }
        })
    });
</script>