<!-- Overlay -->
<div id="modalOverlayClientes"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 hidden transition-opacity duration-300">

    <!-- Modal -->
    <div id="sheetContainerClientes"
        class="bg-gray-100 dark:bg-background-dark w-full max-w-3xl mx-auto rounded-lg shadow-xl transform scale-95 opacity-0 transition-all duration-300 ease-in-out overflow-hidden">

        <!-- Cabeçalho -->
        <div
            class="bg-inherit border-b border-border dark:border-border-dark px-6 py-4 flex justify-between items-center">
            <h2 class="text-xl font-bold"><i class="fa-solid fa-user-tag text-purple-600"></i> Novo Cliente</h2>
            <button onclick="closeModalClientes()" class="text-gray-800 dark:text-white hover:text-gray-400 transition">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>

        <form id="modalFormularioClientes" class="overflow-y-auto flex flex-col">
            <div class="grid grid-cols-1 md:grid-cols-12 gap-4 p-6 max-h-[calc(100vh-8rem)] w-full overflow-y-auto">
                <input type="hidden" id="id" name="id">
                <!-- Nome -->
                <div class="md:col-span-12 lg:col-span-8">
                    <label for="nomeCliente" class="block text-sm font-medium mb-1">
                        Nome <span class="text-red-500">*</span>
                    </label>
                    <input type="text" id="nomeCliente" name="nome" required placeholder="Nome do cliente"
                        class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark" />
                </div>
                <div class="md:col-span-4">
                    <label for="telefoneCliente" class="block text-sm font-medium mb-1">
                        Telefone
                    </label>
                    <input type="text" id="telefoneCliente" name="telefone" placeholder="Telefone"
                        class="w-full p-2 money_mask rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark" />
                </div>
                <!-- Código -->
                <div class="md:col-span-4 lg:col-span-6">
                    <label for="cpfCnpjCliente" class="block text-sm font-medium mb-1">CPF/CNPJ</label>
                    <input type="text" id="cpfCnpjCliente" name="documento" placeholder="CPF/CNPJ"
                        class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark" />
                </div>
                <!-- Preço -->
                <div class="md:col-span-4 lg:col-span-6">
                    <label for="contatoCliente" class="block text-sm font-medium mb-1">
                        WhatsApp
                    </label>
                    <input type="text" id="contatoCliente" name="whastapp" placeholder="WhatsApp"
                        class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark" />
                </div>
                <!-- Permitir Entrada e Saída de Estoque -->
                <div class="md:col-span-12 lg:col-span-12 grid grid-cols-1 md:grid-cols-12 items-center">
                    <span class="block text-sm font-medium mb-0 md:col-span-12">
                        Parâmetros
                    </span>
                    <div class="grid grid-cols-12 gap-2 mt-1 items-center md:col-span-12">
                        <div class="col-span-6">
                            <label for="tipoCliente"
                                class="border block cursor-pointer bg-card dark:bg-card-dark border-border dark:border-border-dark px-3 py-2.5 rounded-md">
                                <div class="flex items-center">
                                    <label class="relative inline-flex items-center cursor-pointer">
                                        <input type="checkbox" id="tipoCliente" name="tipo" class="sr-only peer" />
                                        <div
                                            class="w-9 h-5 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-primary dark:peer-focus:ring-primary-dark dark:bg-gray-700 rounded-full peer peer-checked:after:translate-x-4 peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-primary dark:peer-checked:bg-primary-dark">
                                        </div>
                                        <span
                                            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Fornecedor</span>
                                    </label>
                                </div>
                            </label>
                        </div>
                        <div class="col-span-6">
                            <label for="statusCliente"
                                class="border block cursor-pointer bg-card dark:bg-card-dark border-border dark:border-border-dark px-3 py-2.5 rounded-md">
                                <div class="flex items-center">
                                    <label class="relative inline-flex items-center cursor-pointer">
                                        <input type="checkbox" id="statusCliente" name="status" class="sr-only peer" />
                                        <div
                                            class="w-9 h-5 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-primary dark:peer-focus:ring-primary-dark dark:bg-gray-700 rounded-full peer peer-checked:after:translate-x-4 peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-primary dark:peer-checked:bg-primary-dark">
                                        </div>
                                        <span
                                            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ativo</span>
                                    </label>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Estoque Inicial -->
                <div class="md:col-span-6">
                    <label for="emailCliente" class="block text-sm font-medium mb-1">
                        E-mail
                    </label>
                    <input type="email" id="emailCliente" name="email" placeholder="E-mail"
                        class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark" />
                </div>
                <!-- Estoque Mínimo -->
                <div class="md:col-span-6">
                    <label for="enderecoCliente" class="block text-sm font-medium mb-1">
                        Endereço
                    </label>
                    <input type="text" id="enderecoCliente" name="endereco" placeholder="Endereço"
                        class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark" />
                </div>
                <!-- Unidade de medida -->
                <div class="md:col-span-4">
                    <label for="cidadeCliente" class="block text-sm font-medium mb-1">
                        Cidade
                    </label>
                    <input type="text" id="cidadeCliente" name="cidade" placeholder="Cidade"
                        class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark" />
                </div>
                <!-- Unidade de medida -->
                <div class="md:col-span-4">
                    <label for="estadoCliente" class="block text-sm font-medium mb-1">
                        Estado
                    </label>
                    <input type="text" id="estadoCliente" name="estado" placeholder="Estado"
                        class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark" />
                </div>
                <!-- Unidade de medida -->
                <div class="md:col-span-4">
                    <label for="cepCliente" class="block text-sm font-medium mb-1">
                        CEP
                    </label>
                    <input type="text" id="cepCliente" name="cep" placeholder="CEP"
                        class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark" />
                </div>
                <!-- Observação -->
                <div class="md:col-span-12">
                    <label for="descricaoCliente" class="block text-sm font-medium mb-1">Observação</label>
                    <textarea id="descricaoCliente" name="observacaos" rows="4"
                        placeholder="Adicione observações sobre o produto"
                        class="w-full p-2 rounded-md border bg-card dark:bg-card-dark border-border dark:border-border-dark"></textarea>
                </div>
            </div>
            <!-- Rodapé -->
            <div class="px-6 py-4 bg-inherit border-t border-border dark:border-border-dark">
                <div class="flex gap-3">
                    <button type="submit"
                        class="w-full px-4 py-2 text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 rounded-md shadow transition">
                        Salvar
                    </button>
                    <button type="button" onclick="closeModalClientes()"
                        class="w-full px-4 py-2 text-sm font-medium text-gray-800 dark:text-white bg-gray-300 dark:bg-gray-800 rounded-md transition">
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    function openModalClientes(id = null) {
        const form = document.getElementById('modalFormularioClientes');
        const overlay = document.getElementById('modalOverlayClientes');
        const modal = document.getElementById('sheetContainerClientes');

        overlay.classList.remove('hidden');
        document.body.style.overflow = 'hidden';

        // Força reflow
        void modal.offsetWidth;

        modal.classList.remove('opacity-0', 'scale-95');
        modal.classList.add('opacity-100', 'scale-100');

        if (id) {
            form.id.value = id;

            $.ajax({
                url: "/api/clientes/" + id,
                method: "GET",
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("gestao_facil:token")
                },
                success: function ({ data }) {
                    form.id.value = data.id;
                    form.nome.value = data.nome;
                    form.documento.value = data.documento;
                    form.status.checked = data.status === "ATIVO";
                    form.tipo.checked = data.tipo === "FORNECEDOR";
                    form.email.value = data.email;
                    form.telefone.value = data.telefone;
                    form.whastapp.value = data.whastapp;
                    form.endereco.value = data.endereco;
                    form.cidade.value = data.cidade;
                    form.estado.value = data.estado;
                    form.cep.value = data.cep;
                    form.observacaos.value = data.observacaos;
                },
                error: function (error) {
                    console.log(error);
                    showNotification('Cliente não encontrado!', 'error');
                    closeModalClientes();
                }
            })
        } else {
            form.reset();
            form.status.checked = true;
            form.tipo.checked = false;
            form.id.value = null;
        }
    }

    function closeModalClientes() {
        const overlay = document.getElementById('modalOverlayClientes');
        const modal = document.getElementById('sheetContainerClientes');

        modal.classList.remove('opacity-100', 'scale-100');
        modal.classList.add('opacity-0', 'scale-95');

        setTimeout(() => {
            overlay.classList.add('hidden');
            document.body.style.overflow = 'auto';
        }, 300);
    }

    // Fechamento por ESC e clique fora
    document.addEventListener('keydown', e => e.key === 'Escape' && closeModalClientes());

    document.querySelector("#modalFormularioClientes").addEventListener("submit", (e) => {
        e.preventDefault();

        $.ajax({
            url: "/api/clientes",
            method: "POST",
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem("gestao_facil:token")
            },
            data: $("#modalFormularioClientes").serialize(),
            success: function (data) {
                closeModalClientes();
                showNotification(data.message, 'success');
                if (typeof reloadTabelaClientes === "function") {
                    reloadTabelaClientes();
                }
                if (typeof renderListaClientes === "function") {
                    renderListaClientes();
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr);
                showNotification(xhr.responseJSON?.message || 'Erro inesperado na requisição', 'error');
            }
        })
    })
</script>