<div>
  <div class="flex flex-col md:flex-row gap-2 justify-between mb-4">
    <h2 class="text-2xl font-bold text-black dark:text-white"><i class="fa-solid fa-tags text-green-600"></i>
      Vendas
    </h2>
    <div class="justify-between gap-2 items-center hidden md:flex">
      <button onclick="abrirModalFiltroVendas()"
        class="bg-success hidden md:block hover:bg-success-dark text-white px-3 py-1.5 text-sm rounded-md">
        <i class="fa-solid fa-filter"></i>
      </button>
      <button onclick="abrirModalRelatorioProdutos()"
        class="bg-primary hover:bg-primary-dark text-white px-3 py-1.5 text-sm rounded-md">
        <i class="fa-solid fa-file-pdf"></i>
      </button>
      <button onclick="loadPage('vendas/formulario')"
        class="bg-secondary hover:bg-secondary-dark text-white px-3 py-1.5 text-sm rounded-md">
        <i class="fa-solid fa-circle-plus"></i> <span class="hidden md:inline">Nova Venda</span>
      </button>
      <button onclick="loadPage('vendas/pdv')"
        class="border-2 border-secondary hover:border-secondary-dark px-3 py-1.5 text-sm rounded-md">
        <i class="fa-solid fa-cart-arrow-down"></i> PDV
      </button>
    </div>
  </div>
  <div
    class="overflow-x-auto hidden md:block shadow rounded-lg border bg-background dark:bg-background-dark border-gray-200 px-2 dark:border-gray-700"
    hx-get="/vendas/tabela" hx-trigger="load" hx-swap="innerHTML"></div>
  <div class="overflow-x-auto block md:hidden rounded-lg" hx-get="/vendas/mobile/lista" hx-trigger="load"
    hx-swap="innerHTML"></div>
</div>

<div id="modal-container-filtrar-vendas"></div>
<div id="modal-template-filtrar-vendas" class="hidden">
  <div class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-50" hx-get="/vendas/filtro"
    hx-trigger="load" hx-swap="innerHTML">
  </div>
</div>

<script>
  function editarVenda(id) {
    localStorage.setItem("produtoId", id);
    htmx.ajax("GET", "partials/produtos/formulario.html", {
      target: "#content",
      swap: "innerHTML",
    });
  }

  async function gerarCupomPorVendaId(vendaId) {
    try {
      const resp = await fetch(`/vendas/cupom-pdf/${vendaId}`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("gestao_facil:token")}`,
        },
      });

      if (!resp.ok) {
        alert("Erro ao gerar o cupom");
        return;
      }

      const blob = await resp.blob();

      const url = window.URL.createObjectURL(blob);
      window.open(url, "_blank");
    } catch (err) {
      console.error("Erro ao gerar o cupom:", err);
      alert("Erro ao gerar o cupom.");
    }
  }

  function visualizarVenda(id) {
    localStorage.setItem("vendaId", id);
    loadPage("/vendas/detalhe");
  }
  function excluirVenda(id, retornar = false) {
    Swal.fire({
      title: "Excluir venda",
      text: "Tem certeza que deseja excluir esta venda?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Sim, excluir!",
      cancelButtonText: "Cancelar",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          dataType: "json",
          type: "DELETE",
          url: `/vendas/${id}`,
          beforeSend: function (xhr) {
            const tokenJWT = localStorage.getItem("gestao_facil:token");
            if (tokenJWT) {
              xhr.setRequestHeader("Authorization", `Bearer ${tokenJWT}`);
            }
            Swal.fire({
              title: "Carregando...",
              allowOutsideClick: false,
              allowEscapeKey: false,
              showConfirmButton: false,
              didOpen: () => {
                Swal.showLoading();
              },
            });
          },
          success: function (response) {
            Swal.fire({
              title: "Venda excluída!",
              text: "A venda foi excluído com sucesso!",
              icon: "success",
              toast: true,
              showConfirmButton: false,
              position: "bottom-end",
              timer: 3000,
            });
            if (!retornar) {
              if (typeof reloadTabelaVendas === "function") {
                reloadTabelaVendas();
              }
              if (typeof renderListaVendas === "function") {
                renderListaVendas();
              }
            } else {
              loadPage('/vendas/resumo');
            }
          },
          error: function (error) {
            console.log(error);
            Swal.fire({
              title: "Erro ao excluir a venda!",
              text: error.responseJSON?.message || "Ocorreu um erro ao excluir a venda. Por favor, tente novamente.",
              icon: "error",
              confirmButtonColor: "#3085d6",
              confirmButtonText: "OK",
            });
          },
        });
      }
    });
  }
  function salvarProduto() {
    localStorage.removeItem("produtoId");
    htmx.ajax("GET", "partials/produtos/formulario.html", {
      target: "#content",
      swap: "innerHTML",
    });
  };
</script>