<div id="tabela_vendas_listagem_principal_container" class="hidden">
    <table id="tabela_vendas_listagem_principal" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vendedor</th>
                <th>Cliente</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Status</th>
                <th class="flex justify-end">Ações</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    function reloadTabelaVendas() {
        const tabela = $("#tabela_vendas_listagem_principal").DataTable();
        tabela.ajax.reload(null, false);
    }
    new DataTable("#tabela_vendas_listagem_principal", {
        language: {
            url: "/lang/pt-Br.json",
        },
        processing: true,
        serverSide: true,
        stateSave: true,
        ajax: {
            type: "GET",
            url: `/api/vendas`,
            data: function (d) {
                d.status = $("#status_vendas_tabela").val() || "";
            },
            beforeSend: function (xhr) {
                $("#tabela_vendas_listagem_principal_container").hide();
                const tokenJWT = localStorage.getItem("gestao_facil:token");
                if (tokenJWT) {
                    xhr.setRequestHeader("Authorization", `Bearer ${tokenJWT}`);
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "Erro!",
                        text: "Você precisa estar logado para visualizar a página",
                        showConfirmButton: false,
                        timer: 3000,
                        position: "bottom-end",
                    });
                }
            },
            error: function (xhr, status, error) {
                const mensagem =
                    xhr.responseJSON?.message || "Erro inesperado na requisição";
                Swal.fire({
                    toast: true,
                    position: "bottom-end",
                    timer: 3000,
                    timerProgressBar: true,
                    showConfirmButton: false,
                    icon: "error",
                    title: "Erro!",
                    text: mensagem,
                });
                if (status === 401) window.location.href = "/login";
            },
            complete: function () {
                $("#tabela_vendas_listagem_principal_container").show();
            },
        },
        columns: [
            { data: "Uid" },
            { data: "vendedorId" },
            { data: "clienteId" },
            { data: "valor" },
            { data: "data" },
            { data: "status" },
            {
                data: "acoes",
                className: "flex justify-end",
                searchable: false,
                orderable: false,
            },
        ],
    });
</script>