<div class="flex flex-col gap-2 mt-2 overflow-auto max-h-[calc(100vh-12rem)] md:max-h-full" id="vendas-lista-mobile">
</div>
<div id="modal-container-buscar-vendas"></div>
<!-- Bottom Navigation (Mobile) -->
<nav
  class="fixed bottom-0 left-0 w-full bg-card dark:bg-card-dark border-t border-border dark:border-border-dark md:hidden flex justify-around pt-4 h-20 shadow-lg z-20">
  <button onclick="navigatePrevious()"
    class="flex flex-col items-center text-gray-700 dark:text-gray-300 hover:text-primary transition">
    <i class="fa-solid fa-arrow-left text-lg"></i>
    <span class="text-xs">Anterior</span>
  </button>
  <button onclick="abrirModalBuscarVendas()"
    class="flex flex-col items-center text-gray-700 dark:text-gray-300 hover:text-primary transition">
    <i class="fa-solid fa-search text-lg"></i>
    <span class="text-xs">Busca</span>
  </button>
  <button onclick="navigateNext()"
    class="flex flex-col items-center text-gray-700 dark:text-gray-300 hover:text-primary transition">
    <i class="fa-solid fa-arrow-right text-lg"></i>
    <span class="text-xs">Próximo</span>
  </button>
</nav>

<div id="modal-template-buscar-vendas" class="hidden">
  <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50" hx-target="this"
    hx-swap="outerHTML">
    <div
      class="bg-card dark:bg-card-dark border-t border-border dark:border-border-dark p-6 rounded shadow-xl max-w-[95%] transform transition-all duration-300 scale-95 opacity-0 animate-fade-in">
      <h2 class="text-xl font-bold mb-4">Buscar registro</h2>
      <p class="mb-4">Digite o nome do produto que deseja buscar.</p>
      <input type="text" id="search-input-vendas-mobile"
        class="border bg-card dark:bg-card-dark border-border dark:border-border-dark rounded px-4 py-2 w-full mb-4"
        placeholder="Digite o nome do produto" />
      <div class="w-full flex justify-between items-center mb-4">
        <button class="bg-secondary text-sm dark:bg-secondary-dark hover:opacity-90 text-white px-3 py-1.5 rounded-md"
          onclick="fecharModalBuscarVendas()">
          <i class="fa-regular fa-circle-xmark"></i>
          Fechar
        </button>
        <button class="bg-primary text-sm dark:bg-primary-dark hover:opacity-90 text-white px-3 py-1.5 rounded-md"
          onclick="getVendasListagem()">
          <i class="fa-solid fa-magnifying-glass"></i>
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  switchToNormalScreen();
  function abrirModalBuscarVendas() {
    const template = document.getElementById("modal-template-buscar-vendas").innerHTML;
    document.getElementById("modal-container-buscar-vendas").innerHTML = template;
  }
  function fecharModalBuscarVendas() {
    document.getElementById("modal-container-buscar-vendas").innerHTML = "";
  }
  function getVendasListagem() {
    $.ajax({
      type: "GET",
      url: `/vendas`,
      data: {
        search: {
          value: $("#search-input-vendas-mobile").val(),
        },
      },
      beforeSend: function (xhr) {
        const tokenJWT = localStorage.getItem("gestao_facil:token");
        if (tokenJWT) {
          xhr.setRequestHeader("Authorization", `Bearer ${tokenJWT}`);
        } else {
          Swal.fire({
            icon: "error",
            title: "Erro!",
            text: "Você precisa estar logado para visualizar a página",
            showConfirmButton: false,
            timer: 3000,
            position: "bottom-end",
          });
        };
        document.querySelector("#vendas-lista-mobile").innerHTML = `
            <div class="flex items-center justify-center h-[calc(100vh-12rem)]">
                <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-primary dark:border-primary-dark"></div>
            </div>
        `;
        fecharModalBuscarVendas();
      },
      success: function (response) {
        document.querySelector("#vendas-lista-mobile").innerHTML = "";
        // Manipular a resposta aqui, se necessário
        if (response.data.length === 0) {
          const noDataHTML = `
              <div class="flex items-center rounded-md bg-card dark:bg-card-dark justify-center h-[calc(100vh-12rem)]">
                <div class="text-center">
                    <i class="fa-solid fa-box-open text-4xl text-gray-500 dark:text-gray-300 mb-4"></i>
                    <p class="text-gray-500 dark:text-gray-300">Nenhum produto encontrado.</p>
                </div>
              </div>
          `;
          document.querySelector("#vendas-lista-mobile").innerHTML = noDataHTML;
          return;
        }
        response.data.forEach((produto) => {
          const produtoHTML = `
              <div class="rounded-2xl shadow-md bg-card dark:bg-card-dark p-4">
                  <div class="text-lg font-semibold dark:text-white">${produto.nome}</div>
                  <div class="text-sm text-gray-500">Código: ${produto.codigo}</div>
                  <div class="text-sm text-gray-500">Estoque: ${produto.estoque}</div>
                  <div class="text-sm text-gray-500">Preço: R$ ${produto.preco}</div>
                  <div class="mt-2 flex justify-between gap-2">
                      <div>
                        <button onclick="editarProduto(${produto.id})" class="bg-success text-white px-3 py-1 rounded-md text-sm">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button onclick="abrirModalReporProdutos(${produto.id})" class="bg-info text-white px-3 py-1 rounded-md text-sm">
                            <i class="fa-solid fa-boxes-packing"></i>
                        </button>
                        <button onclick="abrirModalRelatorioProdutoReposicao(${produto.id})" class="bg-primary text-white px-3 py-1 rounded-md text-sm">
                            <i class="fa-solid fa-file-pdf"></i>
                        </button>
                      </div>
                      <button onclick="excluirProduto(${produto.id})" class="bg-danger text-white px-3 py-1 rounded-md text-sm">
                          <i class="fa-solid fa-trash-can"></i>
                      </button>
                  </div>
              </div>
          `;
          document.querySelector("#vendas-lista-mobile").innerHTML += produtoHTML;
        });
      },
      error: function (xhr, status, error) {
        document.querySelector("#vendas-lista-mobile").innerHTML = "";
        const mensagem =
          xhr.responseJSON?.message || "Erro inesperado na requisição";
        Swal.fire({
          toast: true,
          position: "bottom-end",
          timer: 3000,
          timerProgressBar: true,
          showConfirmButton: false,
          icon: "error",
          title: "Erro!",
          text: mensagem,
        });
      },
    });
  };

  getVendasListagem();
</script>