<div class="flex flex-col gap-4">
    <div class="flex flex-col md:flex-row gap-2 justify-between items-center">
        <h2 class="text-2xl text-left font-bold text-black dark:text-white">
            <i class="fa-solid fa-chart-simple text-orange-600"></i> Dashboard gerencial
        </h2>
        <div class="flex items-center gap-2 w-content">
            <button type="button" id="limpar_filtro_dashboard_gerencia_periodo"
                class="bg-red-600 hidden text-white text-nowrap px-3 py-1.5 rounded-md text-sm hover:bg-red-700 transition-colors">
                <i class="fa-solid fa-filter-circle-xmark"></i>
            </button>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-6 xl:grid-cols-4">
        <!-- Metric Item Start -->
        <div
            class="rounded-2xl cursor-pointer border border-border dark:border-border-dark bg-violet-50 dark:bg-violet-950/50 px-6 pb-5 pt-6">
            <div class="mb-6 flex items-center gap-3">
                <i class="fa-solid fa-microchip h-8 w-8 bg-violet-500/10 p-2 rounded-md text-violet-500"></i>

                <div>
                    <h3 class="text-base font-semibold text-gray-800 dark:text-white/90">
                        CPU
                    </h3>
                    <span class="block text-theme-xs text-gray-500 dark:text-gray-400">
                        usada
                    </span>
                </div>
            </div>

            <div class="flex items-end justify-between">
                <div>
                    <h4 class="text-lg font-semibold text-gray-800 dark:text-white/90" id="consumo_geral_cpu_sistema">
                        0
                    </h4>
                </div>
            </div>
        </div>

        <div
            class="rounded-2xl cursor-pointer border border-border dark:border-border-dark bg-blue-50 dark:bg-blue-950/50 px-6 pb-5 pt-6">
            <div class="mb-6 flex items-center gap-3">
                <i class="fa-solid fa-memory w-8 h-8 bg-blue-500/10 p-2 rounded-md text-blue-500"></i>

                <div>
                    <h3 class="text-base font-semibold text-gray-800 dark:text-white/90">
                        Memória
                    </h3>
                    <span class="block text-theme-xs text-gray-500 dark:text-gray-400">
                        usada
                    </span>
                </div>
            </div>

            <div class="flex items-end justify-between">
                <div>
                    <h4 class="text-md font-semibold text-gray-800 dark:text-white/90"
                        id="consumo_geral_memoria_sistema">
                        0
                    </h4>
                </div>

                <span
                    class="flex items-center gap-1 rounded-full bg-blue-100 py-0.5 pl-2 pr-2.5 text-xs font-medium text-blue-600 dark:bg-blue-500/15 dark:text-blue-500">
                    <i class="fa-solid fa-percentage"></i>
                    <span id="consumo_geral_memoria_sistema_percentage">0%</span>
                </span>
            </div>
        </div>

        <div
            class="rounded-2xl cursor-pointer border border-border dark:border-border-dark bg-cyan-50 dark:bg-cyan-950/50 px-6 pb-5 pt-6">
            <div class="mb-6 flex items-center gap-3">
                <i class="fa-solid fa-hard-drive w-8 h-8 bg-cyan-500/10 p-2 rounded-md text-cyan-500"></i>

                <div>
                    <h3 class="text-base font-semibold text-gray-800 dark:text-white/90">
                        Disco
                    </h3>
                    <span class="block text-theme-xs text-gray-500 dark:text-gray-400">
                        utilizado
                    </span>
                </div>
            </div>

            <div class="flex items-end justify-between">
                <div>
                    <h4 class="text-md font-semibold text-gray-800 dark:text-white/90" id="consumo_geral_disco_sistema">
                        0
                    </h4>
                </div>

                <span
                    class="flex items-center gap-1 rounded-full bg-cyan-100 py-0.5 pl-2 pr-2.5 text-xs font-medium text-cyan-600 dark:bg-cyan-500/15 dark:text-cyan-500">
                    <i class="fa-solid fa-percentage"></i>
                    <span id="consumo_geral_disco_sistema_percentage">0%</span>
                </span>
            </div>
        </div>

        <div
            class="rounded-2xl cursor-pointer border border-border dark:border-border-dark bg-lime-50 dark:bg-lime-950/50 px-6 pb-5 pt-6">
            <div class="mb-6 flex items-center gap-3">
                <i class="fa-solid fa-dollar-sign h-8 w-8 bg-lime-500/10 p-2 rounded-md text-lime-400"></i>

                <div>
                    <h3 class="text-base font-semibold text-gray-800 dark:text-white/90">
                        Faturas
                    </h3>
                    <span class="block text-theme-xs text-gray-500 dark:text-gray-400">
                        pendentes
                    </span>
                </div>
            </div>

            <div class="flex items-end justify-between">
                <div>
                    <h4 class="text-lg font-semibold text-gray-800 dark:text-white/90" id="total_vendas_dashboard">
                        R$ 0,00
                    </h4>
                </div>

                <span id="porcentagem_vendas_dashboard_alerta"
                    class="flex items-center gap-1 rounded-full bg-lime-50 py-0.5 pl-2 pr-2.5 text-xs font-medium text-lime-600 dark:bg-lime-500/15 dark:text-lime-500">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <span id="porcentagem_vendas_dashboard">0%</span>
                </span>
            </div>
        </div>
        <!-- Metric Item End -->
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        <!-- Gráfico de Barras -->
        <div
            class="border-border dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 col-span-1 sm:col-span-2 lg:col-span-2 border">
            <div class="flex items-center justify-between mb-2">
                <h2 class="text-lg font-semibold px-0 py-1"><i class="fa-solid fa-chart-simple text-green-600"></i>
                    Resumo mensal
                </h2>
                <button onclick="loadPage('/vendas/resumo')"
                    class="border-2 border-gray-300 text-gray-900 dark:border-gray-400 dark:text-gray-200 text-nowrap px-3 py-1 rounded-md text-sm transition-colors">
                    <i class="fa-solid fa-square-arrow-up-right"></i>
                    Ver mais
                </button>
            </div>
            <canvas class="max-h-64" id="chartVendasMensais"></canvas>
        </div>
        <div
            class="border-border dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 col-span-1 sm:col-span-2 lg:col-span-2 border">
            <div class="flex items-center justify-between mb-2">
                <h2 class="text-lg font-semibold px-0 py-1"><i class="fa-solid fa-chart-simple text-green-600"></i>
                    Clientes por mês
                </h2>
                <button onclick="loadPage('/vendas/resumo')"
                    class="border-2 border-gray-300 text-gray-900 dark:border-gray-400 dark:text-gray-200 text-nowrap px-3 py-1 rounded-md text-sm transition-colors">
                    <i class="fa-solid fa-square-arrow-up-right"></i>
                    Ver mais
                </button>
            </div>
            <canvas class="max-h-64" id="clientes_por_mes_gerencia"></canvas>
        </div>

        <!-- Gráfico de Linhas -->
        <div
            class="border-border dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 col-span-1 sm:col-span-2 lg:col-span-2 border">
            <div class="flex items-center justify-between mb-2">
                <h2 class="text-lg font-semibold px-0 py-1"><i class="fa-solid fa-chart-simple text-green-600"></i>
                    Faturamento por cliente
                </h2>
                <button onclick="loadPage('/lancamentos/resumo')"
                    class="border-2 border-gray-300 text-gray-900 dark:border-gray-400 dark:text-gray-200 text-nowrap px-3 py-1 rounded-md text-sm transition-colors">
                    <i class="fa-solid fa-square-arrow-up-right"></i>
                    Ver mais
                </button>
            </div>
            <canvas class="max-h-64" id="grafico_saldo_mensal"></canvas>
        </div>
        <div
            class="border-border dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 col-span-1 sm:col-span-2 lg:col-span-2 border">
            <div class="flex items-center justify-between mb-2">
                <h2 class="text-lg font-semibold px-0 py-1"><i class="fa-solid fa-chart-simple text-green-600"></i>
                    Assinantes por status
                </h2>
                <button onclick="loadPage('/lancamentos/resumo')"
                    class="border-2 border-gray-300 text-gray-900 dark:border-gray-400 dark:text-gray-200 text-nowrap px-3 py-1 rounded-md text-sm transition-colors">
                    <i class="fa-solid fa-square-arrow-up-right"></i>
                    Ver mais
                </button>
            </div>
            <canvas class="max-h-64" id="assinantes_por_status_gerencia"></canvas>
        </div>
    </div>
</div>

<script>
    function getDadosDashboard() {
        $.ajax({
            url: '/api/system/monitor/metrics',
            method: 'GET',
            dataType: 'json',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem("gestao_facil:token")
            },
            success: function (data) {
                $("#consumo_geral_disco_sistema").text(`${data.disk?.free?.gb?.toFixed(1)} GB livres`);
                $("#consumo_geral_disco_sistema_percentage").text(`${data.disk?.usagePercent}%`);
                $("#consumo_geral_memoria_sistema").text(`${data.memory?.free?.gb?.toFixed(1)} GB / ${data.memory?.total?.gb?.toFixed(1)} GB`);
                $("#consumo_geral_memoria_sistema_percentage").text(`${data.memory?.usagePercent}%`);
                $("#consumo_geral_cpu_sistema").text(`${data?.cpuUsage}%`);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    getDadosDashboard();
</script>