<div class="flex flex-col gap-4">
    <div class="flex flex-col md:flex-row gap-2 justify-between items-center">
        <h2 class="text-2xl text-left font-bold text-black dark:text-white">
            <i class="fa-solid fa-chart-simple text-orange-600"></i> Dashboard gerencial
        </h2>
        <div class="flex items-center gap-2 w-content">
            <button type="button" id="limpar_filtro_dashboard_gerencia_periodo"
                class="bg-red-600 hidden text-white text-nowrap px-3 py-1.5 rounded-md text-sm hover:bg-red-700 transition-colors">
                <i class="fa-solid fa-filter-circle-xmark"></i>
            </button>
            <input id="filtro_dashboard_gerencia_periodo" placeholder="Filtrar por período"
                class="rounded-md border w-max bg-card dark:bg-card-dark border-border dark:border-border-dark px-3 py-1.5 text-sm focus:outline-none focus:ring-2 focus:ring-primary">
            </input>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-6 xl:grid-cols-4">
        <!-- Metric Item Start -->
        <div
            class="rounded-2xl cursor-pointer border border-border dark:border-border-dark bg-violet-50 dark:bg-violet-950/50 px-6 pb-5 pt-6">
            <div class="mb-6 flex items-center gap-3">
                <i class="fa-solid fa-microchip h-8 w-8 bg-violet-500/10 p-2 rounded-md text-violet-500"></i>

                <div>
                    <h3 class="text-base font-semibold text-gray-800 dark:text-white/90">
                        CPU
                    </h3>
                    <span class="block text-theme-xs text-gray-500 dark:text-gray-400">
                        usada
                    </span>
                </div>
            </div>

            <div class="flex items-end justify-between">
                <div>
                    <h4 class="text-lg font-semibold text-gray-800 dark:text-white/90" id="consumo_geral_cpu_sistema">
                        0
                    </h4>
                </div>
            </div>
        </div>

        <div
            class="rounded-2xl cursor-pointer border border-border dark:border-border-dark bg-blue-50 dark:bg-blue-950/50 px-6 pb-5 pt-6">
            <div class="mb-6 flex items-center gap-3">
                <i class="fa-solid fa-memory w-8 h-8 bg-blue-500/10 p-2 rounded-md text-blue-500"></i>

                <div>
                    <h3 class="text-base font-semibold text-gray-800 dark:text-white/90">
                        Memória
                    </h3>
                    <span class="block text-theme-xs text-gray-500 dark:text-gray-400">
                        usada
                    </span>
                </div>
            </div>

            <div class="flex items-end justify-between">
                <div>
                    <h4 class="text-md font-semibold text-gray-800 dark:text-white/90"
                        id="consumo_geral_memoria_sistema">
                        0
                    </h4>
                </div>

                <span
                    class="flex items-center gap-1 rounded-full bg-blue-100 py-0.5 pl-2 pr-2.5 text-xs font-medium text-blue-600 dark:bg-blue-500/15 dark:text-blue-500">
                    <i class="fa-solid fa-percentage"></i>
                    <span id="consumo_geral_memoria_sistema_percentage">0%</span>
                </span>
            </div>
        </div>

        <div
            class="rounded-2xl cursor-pointer border border-border dark:border-border-dark bg-cyan-50 dark:bg-cyan-950/50 px-6 pb-5 pt-6">
            <div class="mb-6 flex items-center gap-3">
                <i class="fa-solid fa-hard-drive w-8 h-8 bg-cyan-500/10 p-2 rounded-md text-cyan-500"></i>

                <div>
                    <h3 class="text-base font-semibold text-gray-800 dark:text-white/90">
                        Disco
                    </h3>
                    <span class="block text-theme-xs text-gray-500 dark:text-gray-400">
                        utilizado
                    </span>
                </div>
            </div>

            <div class="flex items-end justify-between">
                <div>
                    <h4 class="text-md font-semibold text-gray-800 dark:text-white/90" id="consumo_geral_disco_sistema">
                        0
                    </h4>
                </div>

                <span
                    class="flex items-center gap-1 rounded-full bg-cyan-100 py-0.5 pl-2 pr-2.5 text-xs font-medium text-cyan-600 dark:bg-cyan-500/15 dark:text-cyan-500">
                    <i class="fa-solid fa-percentage"></i>
                    <span id="consumo_geral_disco_sistema_percentage">0%</span>
                </span>
            </div>
        </div>

        <div
            class="rounded-2xl cursor-pointer border border-border dark:border-border-dark bg-green-50 dark:bg-green-950/50 px-6 pb-5 pt-6">
            <div class="mb-6 flex items-center gap-3">
                <i class="fa-solid fa-dollar-sign h-8 w-8 bg-green-500/10 p-2 rounded-md text-green-400"></i>

                <div>
                    <h3 class="text-base font-semibold text-gray-800 dark:text-white/90">
                        Lucro
                    </h3>
                    <span class="block text-theme-xs text-gray-500 dark:text-gray-400">
                        mensal
                    </span>
                </div>
            </div>

            <div class="flex items-end justify-between">
                <div>
                    <h4 class="text-lg font-semibold text-gray-800 dark:text-white/90" id="total_vendas_dashboard">
                        R$ 0,00
                    </h4>
                </div>

                <span id="porcentagem_vendas_dashboard_alerta"
                    class="flex items-center gap-1 rounded-full bg-green-50 py-0.5 pl-2 pr-2.5 text-xs font-medium text-green-600 dark:bg-green-500/15 dark:text-green-500">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <span id="porcentagem_vendas_dashboard">0%</span>
                </span>
            </div>
        </div>
        <!-- Metric Item End -->
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        <!-- Gráfico de Barras -->
        <div
            class="border-border dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 col-span-1 sm:col-span-2 lg:col-span-2 border">
            <div class="flex items-center justify-between mb-2">
                <h2 class="text-lg font-semibold px-0 py-1"><i class="fa-solid fa-chart-simple text-green-600"></i>
                    Vendas
                    Mensais
                </h2>
                <button onclick="loadPage('/vendas/resumo')"
                    class="border-2 border-gray-300 text-gray-900 dark:border-gray-400 dark:text-gray-200 text-nowrap px-3 py-1 rounded-md text-sm transition-colors">
                    <i class="fa-solid fa-square-arrow-up-right"></i>
                    Ver mais
                </button>
            </div>
            <canvas class="max-h-64" id="chartVendasMensais"></canvas>
        </div>

        <!-- Gráfico de Linhas -->
        <div
            class="border-border dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 col-span-1 sm:col-span-2 lg:col-span-2 border">
            <div class="flex items-center justify-between mb-2">
                <h2 class="text-lg font-semibold px-0 py-1"><i class="fa-solid fa-chart-simple text-green-600"></i>
                    Saldo mensal
                </h2>
                <button onclick="loadPage('/lancamentos/resumo')"
                    class="border-2 border-gray-300 text-gray-900 dark:border-gray-400 dark:text-gray-200 text-nowrap px-3 py-1 rounded-md text-sm transition-colors">
                    <i class="fa-solid fa-square-arrow-up-right"></i>
                    Ver mais
                </button>
            </div>
            <canvas class="max-h-64" id="grafico_saldo_mensal"></canvas>
        </div>
    </div>
</div>

<script>
    switchToFullScreen();

    flatpickr("#filtro_dashboard_gerencia_periodo", {
        mode: "range",
        altInput: true,
        altFormat: "d/m/Y",
        dateFormat: "Y-m-d",
        locale: "pt",
        onReady: function (selectedDates, dateStr, instance) {
            if (localStorage.getItem("filtro_dashboard_gerencia_periodo")) {
                instance.setDate(localStorage.getItem("filtro_dashboard_gerencia_periodo"));
            }
            if (localStorage.getItem("filtro_dashboard_gerencia_periodo")) {
                $("#limpar_filtro_dashboard_gerencia_periodo").removeClass("hidden");
            } else {
                $("#limpar_filtro_dashboard_gerencia_periodo").addClass("hidden");
            }

            $("#limpar_filtro_dashboard_gerencia_periodo").click(function () {
                instance.clear();
                localStorage.removeItem("filtro_dashboard_gerencia_periodo");
                loadPage('/resumos');
            })
        },
        onChange: function (selectedDates, dateStr, instance) {
            if (selectedDates.length === 2) {
                $("#limpar_filtro_dashboard_gerencia_periodo").removeClass("hidden");
                localStorage.setItem("filtro_dashboard_gerencia_periodo", dateStr);
                loadPage('/resumos');
            } else {
                $("#limpar_filtro_dashboard_gerencia_periodo").addClass("hidden");
            }
        }
    });

    function chartBySaldoMensal(data) {
        new Chart(document.getElementById('grafico_saldo_mensal'), {
            type: 'line',
            data: {
                labels: data.labels,
                datasets: data.datasets,
            },
            options: {
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                plugins: {
                    title: {
                        display: false
                    },
                    legend: {
                        display: false
                    }
                },
                scales: {
                    y: {
                        ticks: {
                            color: document.documentElement.classList.contains('dark') ? '#ffffff' : '#000000',
                        }
                    },
                    x: {
                        ticks: {
                            color: document.documentElement.classList.contains('dark') ? '#ffffff' : '#000000',
                        }
                    },
                }
            }
        });
    }

    function generateChartVendas(data) {
        // Gráfico de Barras
        new Chart(document.getElementById('chartVendasMensais'), {
            type: 'bar',
            data,
            options: {
                responsive: true,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                plugins: {
                    legend: {
                        display: false,
                    },
                },
                scales: {
                    x: {
                        ticks: {
                            color: document.documentElement.classList.contains('dark') ? '#ffffff' : '#000000'
                        },
                    },
                    y1: {
                        ticks: {
                            color: document.documentElement.classList.contains('dark') ? '#ffffff' : '#000000'
                        },
                        type: 'linear',
                        position: 'left',
                        title: {
                            display: true,
                            text: 'Valor Total (R$)',
                            color: document.documentElement.classList.contains('dark') ? '#ffffff' : '#000000'
                        },
                        stacked: false,
                    },
                    y2: {
                        ticks: {
                            color: document.documentElement.classList.contains('dark') ? '#ffffff' : '#000000'
                        },
                        type: 'linear',
                        position: 'right',
                        title: {
                            display: true,
                            text: 'Quantidade de Vendas',
                            color: document.documentElement.classList.contains('dark') ? '#ffffff' : '#000000'
                        },
                        grid: {
                            drawOnChartArea: false,
                        },
                        stacked: false,
                    },
                },
                elements: {
                    bar: {
                        borderRadius: 6
                    }
                }
            }
        });
    }

    function getDadosDashboard() {
        const periodo = document.querySelector("#filtro_dashboard_gerencia_periodo")._flatpickr.selectedDates;
        $.ajax({
            url: '/api/system/monitor/metrics',
            method: 'GET',
            dataType: 'json',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem("gestao_facil:token")
            },
            success: function (data) {
                $("#consumo_geral_disco_sistema").text(`${data.disk?.free?.gb?.toFixed(1)} GB livres`);
                $("#consumo_geral_disco_sistema_percentage").text(`${data.disk?.usagePercent}%`);
                $("#consumo_geral_memoria_sistema").text(`${data.memory?.free?.gb?.toFixed(1)} GB / ${data.memory?.total?.gb?.toFixed(1)} GB`);
                $("#consumo_geral_memoria_sistema_percentage").text(`${data.memory?.usagePercent}%`);
                $("#consumo_geral_cpu_sistema").text(`${data?.cpuUsage}%`);
            },
            error: function (error) {
                console.log(error);
            }
        });

        $.ajax({
            url: '/api/vendas/resumo/mensal',
            method: 'GET',
            dataType: 'json',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem("gestao_facil:token")
            },
            success: function (data) {
                generateChartVendas(data.data);
            },
            error: function (error) {
                console.log(error);
            }
        });

        fetch(`/api/lancamentos/graficos/saldo-mensal`, {
            method: "GET",
            headers: {
                Authorization: `Bearer ${localStorage.getItem("gestao_facil:token")}`,
            }
        })
            .then((response) => response.json())
            .then((data) => {
                chartBySaldoMensal(data);
            });
    }

    getDadosDashboard();
</script>