<table id="tabela_produtos_listagem_principal" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Compra</th>
            <th>Qtd</th>
            <th class="flex justify-end">Ações</th>
        </tr>
    </thead>
</table>
<script>
    function editarProduto(id) {
        localStorage.setItem("produtoId", id);
        htmx.ajax("GET", "partials/produtos/formulario.html", {
            target: "#content",
            swap: "innerHTML",
        });
    }
    function visualizarProduto(id) {
        localStorage.setItem("produtoId", id);
        htmx.ajax("GET", "partials/produtos/detalhes.html", {
            target: "#content",
            swap: "innerHTML",
        });
    }
    function excluirProduto(id) {
        Swal.fire({
            title: "Excluir produto",
            text: "Tem certeza que deseja excluir este produto?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sim, excluir!",
            cancelButtonText: "Cancelar",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    dataType: "json",
                    type: "DELETE",
                    url: `${baseUrl}/produtos/${id}`,
                    beforeSend: function (xhr) {
                        const tokenJWT = localStorage.getItem("gestao_facil:token");
                        if (tokenJWT) {
                            xhr.setRequestHeader("Authorization", `Bearer ${tokenJWT}`);
                        }
                    },
                    success: function (response) {
                        Swal.fire({
                            title: "Produto excluído!",
                            text: "O produto foi excluído com sucesso!",
                            icon: "success",
                            toast: true,
                            showConfirmButton: false,
                            position: "bottom-end",
                            timer: 3000,
                        });
                        $("#tabela_produtos_listagem_principal").DataTable().ajax.reload();
                    },
                    error: function (error) {
                        Swal.fire({
                            title: "Erro ao excluir produto!",
                            text: "Ocorreu um erro ao excluir o produto. Por favor, tente novamente.",
                            icon: "error",
                            confirmButtonColor: "#3085d6",
                            confirmButtonText: "OK",
                        });
                    }
                })
            }
        });
    }
    function salvarProduto() {
        localStorage.removeItem("produtoId");
        htmx.ajax("GET", "partials/produtos/formulario.html", {
            target: "#content",
            swap: "innerHTML",
        });
    }

    new DataTable("#tabela_produtos_listagem_principal", {
        language: {
            url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json",
        },
        processing: true,
        serverSide: true,
        ajax: {
            type: "GET",
            url: `/produtos`,
            beforeSend: function (xhr) {
                const tokenJWT = localStorage.getItem("gestao_facil:token");
                if (tokenJWT) {
                    xhr.setRequestHeader("Authorization", `Bearer ${tokenJWT}`);
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "Erro!",
                        text: "Você precisa estar logado para visualizar a página",
                        showConfirmButton: false,
                        timer: 3000,
                        position: "bottom-end",
                    });
                }
            },
            error: function (xhr, status, error) {
                const mensagem =
                    xhr.responseJSON?.message || "Erro inesperado na requisição";
                Swal.fire({
                    toast: true,
                    position: "bottom-end",
                    timer: 3000,
                    timerProgressBar: true,
                    showConfirmButton: false,
                    icon: "error",
                    title: "Erro!",
                    text: mensagem,
                });
                htmx.ajax("GET", "partials/login.html", {
                    target: "#content",
                    swap: "innerHTML",
                });
            },
        },
        columns: [
            { data: "id" },
            { data: "nome" },
            { data: "preco" },
            { data: "precoCompra" },
            { data: "estoque" },
            {
                data: "acoes",
                className: "flex justify-end",
                searchable: false,
                orderable: false,
            },
        ],
    });
</script>