<!-- dashboard.html -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
  <!-- Vendas Realizadas -->
  <div class="border-border dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 border">
    <h2 class="text-lg font-semibold text-gray-700 dark:text-gray-200"><i class="fa-solid fa-tags"></i> Vendas
      Realizadas</h2>
    <p class="text-3xl font-bold text-primary mt-2" id="total_vendas_dashboard">...</p>
  </div>

  <!-- Total de Produtos -->
  <div onclick="loadPage('partials/produtos/index.html')"
    class="border-border cursor-pointer dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 border">
    <h2 class="text-lg font-semibold text-gray-700 dark:text-gray-200"><i class="fa-solid fa-boxes-stacked"></i> Total
      de Produtos</h2>
    <p class="text-3xl font-bold text-primary mt-2" id="total_produtos_dashboard">...</p>
  </div>

  <!-- Produtos em Baixa -->
  <div class="border-border dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 border">
    <h2 class="text-lg font-semibold text-gray-700 dark:text-gray-200"><i class="fa-solid fa-boxes-packing"></i>
      Produtos em Baixa</h2>
    <p class="text-3xl font-bold text-primary mt-2" id="produtos_em_baixa_dashboard">...</p>
  </div>


  <div class="border-border dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 border">
    <h2 class="text-lg font-semibold text-gray-700 dark:text-gray-200"><i class="fa-solid fa-user-tag"></i> Clientes
    </h2>
    <p class="text-3xl font-bold text-primary mt-2" id="total_clientes_dashboard">...</p>
  </div>

  <!-- Gráfico de Barras -->
  <div
    class="border-border dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 col-span-1 sm:col-span-2 lg:col-span-2 border">
    <h2 class="text-lg font-semibold mb-4">Vendas Mensais</h2>
    <canvas class="max-h-64" id="barChart"></canvas>
  </div>

  <!-- Gráfico de Linhas -->
  <div
    class="border-border dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 col-span-1 sm:col-span-2 lg:col-span-2 border">
    <h2 class="text-lg font-semibold mb-4">Acessos por Dia</h2>
    <canvas class="max-h-64" id="lineChart"></canvas>
  </div>

  <!-- Últimas Vendas -->
  <div
    class="border-border dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 col-span-1 sm:col-span-2 lg:col-span-2 border">
    <div class="flex justify-between items-center mb-1">
      <h2 class="text-lg font-semibold text-gray-700 dark:text-gray-200">Produtos</h2>
      <button onclick="loadPage('partials/produtos/index.html')" type="button"
        class="text-primary font-bold py-0 px-2 rounded transition duration-300">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </button>
    </div>
    <div class="overflow-x-auto max-h-96 p-1">
      <table class="w-full text-left rounded text-sm">
        <thead class="bg-gray-100 dark:bg-gray-900 text-gray-600 dark:text-gray-200">
          <tr>
            <th class="p-2">#ID</th>
            <th class="p-2">Produto</th>
            <th class="p-2">Mínimo</th>
            <th class="p-2">Estoque</th>
            <th class="p-2">Valor</th>
          </tr>
        </thead>
        <tbody class="text-gray-700 dark:text-gray-200" id="ultimos_produtos_dashboard_tabela">
          <tr class="border-t">
            <td class="p-2" colspan="5">Nenhum produto cadastrado</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div
    class="border-border dark:border-border-dark bg-card dark:bg-card-dark shadow-md rounded-lg p-4 col-span-1 sm:col-span-2 lg:col-span-2 border">
    <div class="flex justify-between items-center mb-1">
      <h2 class="text-lg font-semibold text-gray-700 dark:text-gray-200">Estoques baixos</h2>
      <button onclick="loadPage('partials/produtos/index.html')" type="button"
        class="text-primary font-bold py-0 px-2 rounded transition duration-300">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </button>
    </div>
    <div class="overflow-x-auto max-h-96 p-1">
      <table class="w-full text-left rounded text-sm">
        <thead class="bg-gray-100 dark:bg-gray-900 text-gray-600 dark:text-gray-200">
          <tr>
            <th class="p-2">#ID</th>
            <th class="p-2">Produto</th>
            <th class="p-2">Mínimo</th>
            <th class="p-2">Estoque</th>
            <th class="p-2">Valor</th>
          </tr>
        </thead>
        <tbody class="text-gray-700 dark:text-gray-200" id="produtos_em_baixa_dashboard_tabela">
          <tr class="border-t">
            <td class="p-2 text-center" colspan="5">Nenhum produto em baixa</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  switchToFullScreen();
  $.ajax({
    url: '/dashboard/resumo',
    method: 'GET',
    dataType: 'json',
    headers: {
      'Authorization': 'Bearer ' + localStorage.getItem("gestao_facil:token")
    },
    success: function ({ data }) {
      console.log(data);
      $("#total_vendas_dashboard").text(data.vendasCount);
      $("#total_produtos_dashboard").text(data.produtos.length);
      $("#produtos_em_baixa_dashboard").text(data.estoquesBaixos.length);
      $("#total_clientes_dashboard").text(data.clientes);

      if (data.produtos.length > 0) {
        $("#ultimos_produtos_dashboard_tabela").empty();
        data.produtos.forEach(produto => {
          $("#ultimos_produtos_dashboard_tabela").append(`
            <tr class="border-t">
              <td class="p-2">${produto.id}</td>
              <td class="p-2 truncate">${produto.nome}</td>
              <td class="p-2">${produto.minimo}</td>
              <td class="p-2">${produto.estoque}</td>
              <td class="p-2">R$ ${produto.preco}</td>
            </tr>
          `);
        });
      }

      if (data.estoquesBaixos.length > 0) {
        $("#produtos_em_baixa_dashboard_tabela").empty();
        data.estoquesBaixos.forEach(produto => {
          $("#produtos_em_baixa_dashboard_tabela").append(`
            <tr class="border-t">
              <td class="p-2">${produto.id}</td>
              <td class="p-2 truncate">${produto.nome}</td>
              <td class="p-2">${produto.minimo}</td>
              <td class="p-2">${produto.estoque}</td>
              <td class="p-2">R$ ${produto.preco}</td>
            </tr>
          `);
        });
      }
    },
    error: function (error) {
      console.log(error);
    }
  })
  // Gráfico de Barras
  new Chart(document.getElementById('barChart'), {
    type: 'bar',
    data: {
      labels: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun'],
      datasets: [{
        label: 'Vendas',
        data: [120, 150, 180, 90, 200, 170],
        backgroundColor: '#0ea5e9',
        borderRadius: 10 // Arredonda as bordas das barras
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: {
          display: false
        }
      },
      scales: {
        x: {
          ticks: {
            color: document.documentElement.classList.contains('dark') ? '#ffffff' : '#000000'
          }
        },
        y: {
          ticks: {
            color: document.documentElement.classList.contains('dark') ? '#ffffff' : '#000000'
          }
        }
      }
    }
  });

  // Gráfico de Linhas
  new Chart(document.getElementById('lineChart'), {
    type: 'line',
    data: {
      labels: ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
      datasets: [{
        label: 'Acessos',
        data: [300, 450, 400, 380, 500, 600, 550],
        borderColor: '#10b981',
        backgroundColor: 'rgba(16,185,129,0.1)',
        fill: true,
        tension: 0.4
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: { display: false }
      },
      scales: {
        x: {
          ticks: {
            color: document.documentElement.classList.contains('dark') ? '#ffffff' : '#000000'
          }
        },
        y: {
          ticks: {
            color: document.documentElement.classList.contains('dark') ? '#ffffff' : '#000000'
          }
        }
      }
    }
  });
</script>