<!DOCTYPE html>
<html lang="pt-br" class="dark">

<head>
  <meta charset="UTF-8" />
  <title>Gestão Fácil - Login</title>
  <link rel="manifest" href="/manifest.json" />
  <meta name="theme-color" content="#ffffff" id="meta-theme-color" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link rel="apple-touch-icon" href="/imgs/logo.png" />
  <link rel="stylesheet" href="/css/swalert.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="shortcut icon" href="/imgs/logo.png" type="image/png" />
  <script src="js/pluguins/fontawesome.js"></script>
  <script src="js/pluguins/tailwind.min.js"></script>
  <script src="js/pluguins/jquery.js"></script>
  <script src="js/pluguins/swalert.js"></script>
  <script src="tailwind.js"></script>
  <script src="theme.js" defer></script>
</head>

<body
  class="bg-background dark:bg-background-dark text-text dark:text-text-dark min-h-screen overflow-hidden flex flex-col">
  <div class="h-[calc(100vh-8rem)] flex items-center justify-center ">
    <div class="p-6 md:border border-border dark:border-border-dark rounded-2xl md:shadow-md w-full max-w-md">
      <h2 class="text-2xl font-bold text-center text-primary mb-6">🔐 Login</h2>

      <form class="space-y-4" id="login_formulario_sistema">
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Email</label>
          <input type="email" id="email" name="email" placeholder="Email de acesso." required
            class="mt-1 block w-full px-4 py-2 bg-gray-50 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-md focus:ring-primary focus:border-primary dark:text-white" />
        </div>

        <div>
          <label for="senha" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Senha</label>
          <input type="password" id="senha" name="senha" placeholder="Senha de acesso." required
            class="mt-1 block w-full px-4 py-2 bg-gray-50 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-md focus:ring-primary focus:border-primary dark:text-white" />
        </div>

        <div id="login-feedback" class="text-center text-red-500 text-sm"></div>
        <div id="login-success" class="text-center text-green-500 text-sm"></div>

        <button type="submit"
          class="w-full py-2 px-4 bg-primary text-white rounded-md hover:bg-primary-dark transition">
          Entrar
        </button>
      </form>
    </div>
  </div>

  <script>
    $("#login_formulario_sistema").off("submit").on("submit", (event) => {
      event.preventDefault();
      $.ajax({
        url: `/login`,
        method: "POST",
        contentType: "application/json",
        dataType: "json",
        data: JSON.stringify({
          email: $("#email").val(),
          senha: $("#senha").val(),
        }),
        beforeSend: function (xhr) {
          $("#login-feedback").text("");
        },
        success: (response) => {
          console.log(response);
          $("#login-success").text("Login realizado com sucesso!");
          window.location.href = "/";
          localStorage.setItem("gestao_facil:token", response.data.token);
          localStorage.setItem("gestao_facil:usuario", response.data.id);
          localStorage.setItem("gestao_facil:isauth", true);
        },
        error: (xhr) => {
          $("#login-feedback").text(
            xhr.responseJSON?.message || "Erro inesperado na requisição"
          );
        },
      });
    });

  </script>
</body>

</html>