<div id="tabela_contas_assinantes_listagem_principal_container">
    <table id="tabela_contas_assinantes_listagem_principal" class="display nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Vencimento</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Documento</th>
                <th class="flex justify-end">Ações</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    function reloadTabelaContasSistema() {
        const tabela = $("#tabela_contas_assinantes_listagem_principal").DataTable();
        tabela.ajax.reload(null, false);
    }
    new DataTable("#tabela_contas_assinantes_listagem_principal", {
        language: {
            url: "/lang/pt-Br.json",
        },
        fixedColumns: {
            start: 0,
            end: 1
        },
        scrollCollapse: true,
        scrollX: true,
        processing: true,
        serverSide: true,
        stateSave: true,
        ajax: {
            type: "GET",
            url: `/api/gerencia/contaSistema/datatable`,
            headers: {
                "Authorization": "Bearer " + localStorage.getItem("gestao_facil:token"),
            },
            data: function (d) { },
            error: function (xhr, status, error) {
                console.log("tabela_contas_assinantes:" + error);
            },
        },
        columns: [
            { data: "id" },
            { data: "nome" },
            { data: "categoria" },
            { data: "vencimento" },
            { data: "email" },
            { data: "telefone", orderable: false, searchable: false },
            { data: "documento" },
            {
                data: "acoes",
                orderable: false,
                searchable: false,
                className: "flex justify-end bg-gray-50 dark:bg-gray-900",
            },
        ],
    });
</script>