<div
    class="border-border dark:border-border-dark bg-card dark:bg-card-dark border p-6 rounded-lg shadow-2xl w-[95%] md:max-w-lg transform transition-transform duration-300 scale-95 opacity-0 animate-fade-in">

    <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Relatório de reposição
        </h3>
        <button type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
            onclick="fecharModalReporProdutosRelatorio()">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Fechar Modal</span>
        </button>
    </div>
    <!-- Modal body -->
    <form id="formularioProdutosreposicaoRelatorio">
        <input type="hidden" name="id" id="id" />
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
            <div class="sm:col-span-2">
                <label for="data_ordenar_relatorio_reposicao"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ordenar data por</label>
                <select
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    id="data_ordenar_relatorio_reposicao">
                    <option value="asc">Mais antigo</option>
                    <option value="desc">Mais recente</option>
                </select>
            </div>
        </div>
        <div class="flex items-center justify-between space-x-4">
            <button type="button" onclick="fecharModalReporProdutosRelatorio()"
                class="bg-secondary text-sm dark:bg-secondary-dark hover:opacity-90 text-white px-3 py-1.5 rounded-md">
                <i class="fa-solid fa-check-to-slot"></i>
                Fechar
            </button>
            <button type="submit"
                class="bg-primary text-sm dark:bg-primary-dark hover:opacity-90 text-white px-3 py-1.5 rounded-md">
                <i class="fa-solid fa-check-to-slot"></i>
                Gerar relatório
            </button>
        </div>
    </form>
</div>

<script>
    function openConfigsFormularioReposicaoEstoque(id) {
        IMask(document.getElementById('custoReposicaoEstoque'), {
            mask: Number,
            scale: 2,
            signed: false,
            thousandsSeparator: '',
            padFractionalZeros: true,
            normalizeZeros: true,
            radix: ',', // separador decimal brasileiro
            mapToRadix: ['.']
        });
        $("#formularioProdutosreposicaoRelatorio").submit(function (e) {
            e.preventDefault();
            const orderBy = $("#data_ordenar_relatorio_reposicao").val();
            fetch(`/api/produtos/relatorio/reposicao/${id}?orderBy=${orderBy}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/pdf",
                    Authorization: `Bearer ${localStorage.getItem("gestao_facil:token")}`,
                }
            })
                .then((response) => {
                    if (!response.ok) {
                        if (response.status === 404) {
                            throw new Error("Relatório não encontrado (404).");
                        }
                        throw new Error("Erro ao buscar o relatório.");
                    }
                    return response.blob();
                })
                .then((blob) => {
                    fecharModalReporProdutosRelatorio();
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement("a");
                    a.href = url;
                    a.download = "relatorio-reposicao.pdf";
                    document.body.appendChild(a);
                    a.click();
                    a.remove();

                    Swal.fire({
                        title: "Relatório gerado com sucesso!",
                        text: "O relatório de reposição foi baixado com sucesso.",
                        icon: "success",
                        confirmButtonText: "OK",
                    });
                })
                .catch((e) => {
                    console.log(e);
                    Swal.fire({
                        title: "Erro ao gerar relatório!",
                        text: e.message || "Ocorreu um erro ao gerar o relatório. Por favor, tente novamente.",
                        icon: "error",
                        confirmButtonText: "OK",
                    });
                });
        });
    }

    function abrirModalRelatorioProdutoReposicao(id) {
        if (id) {
            const template = document.getElementById(
                "modal-template-reporestoque-produtos-relatorio"
            ).innerHTML;
            document.getElementById("modal-container-reporestoque-produtos-relatorio").innerHTML =
                template;
            openConfigsFormularioReposicaoEstoque(id);
        }
    }
    function fecharModalReporProdutosRelatorio() {
        document.getElementById("modal-container-reporestoque-produtos-relatorio").innerHTML =
            "";
    }
</script>