<div
  class="border-border dark:border-border-dark bg-card dark:bg-card-dark border p-8 rounded-lg shadow-2xl w-[95%] md:max-w-lg transform transition-transform duration-300 scale-95 opacity-0 animate-fade-in">
  <h2 class="text-2xl font-bold mb-6 text-primary">
    Gerar Relatório de Produtos
  </h2>
  <p class="mb-6 text-gray-700 dark:text-gray-200">
    Clique no botão abaixo para baixar o relatório de produtos em formato
    PDF.
  </p>
  <button onclick="baixarRelatorioProduto()"
    class="w-full bg-primary hover:bg-primary-dark text-white px-3 py-2 rounded-lg font-semibold text-lg mb-6 transition-colors duration-200">
    <i class="fa-solid fa-download"></i> Baixar Relatório
  </button>
  <p class="text-sm text-gray-500 dark:text-gray-300 mb-6">
    * O relatório será gerado em PDF e baixado automaticamente.
  </p>

  <button
    class="w-full bg-red-600 hover:bg-red-700 text-white px-3 py-2 rounded-lg font-semibold text-lg transition-colors duration-200"
    onclick="fecharModalRelatorioProdutos()">
    <i class="fa-solid fa-times"></i> Fechar
  </button>
</div>

<script>
  function baixarRelatorioProduto() {
    fetch("/api/produtos/relatorio", {
      method: "GET",
      headers: {
        "Content-Type": "application/pdf",
        Authorization: `Bearer ${localStorage.getItem("gestao_facil:token")}`,
      },
    })
      .then((response) => response.blob())
      .then((blob) => {
        fecharModalRelatorioProdutos();
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement("a");
        a.href = url;
        a.download = `relatorio-produtos-${new Date().toLocaleDateString()}.pdf`;
        document.body.appendChild(a);
        a.click();
        a.remove();
      })
      .catch(() => alert("Erro ao gerar relatório."));
  }
  function abrirModalRelatorioProdutos() {
    const template = document.getElementById(
      "modal-template-gerar-relatorio-produtos"
    ).innerHTML;
    document.getElementById(
      "modal-container-gerar-relatorio-produtos"
    ).innerHTML = template;
  }

  function fecharModalRelatorioProdutos() {
    document.getElementById(
      "modal-container-gerar-relatorio-produtos"
    ).innerHTML = "";
  }

</script>