<div id="content-produtos">
  <div class="flex flex-col md:flex-row gap-2 justify-between mb-4">
    <h2 class="text-2xl font-bold text-black dark:text-white"><i class="fa-solid fa-boxes-stacked text-blue-600"></i>
      Produtos
    </h2>
    <div class="flex justify-between gap-2 items-center">
      <button onclick="abrirModalRelatorioProdutos()"
        class="bg-primary hidden md:block hover:bg-primary-dark text-white px-3 py-1.5 text-sm rounded-md">
        <i class="fa-solid fa-file-pdf"></i>
      </button>
      <button onclick="salvarProduto()"
        class="bg-secondary hidden md:block hover:bg-secondary-dark text-white px-3 py-1.5 text-sm rounded-md">
        <i class="fa-solid fa-circle-plus"></i> <span class="hidden md:inline">Novo produto</span>
      </button>
    </div>
  </div>
  <div
    class="overflow-x-auto hidden md:block shadow rounded-lg border bg-background dark:bg-background-dark border-gray-200 px-2 dark:border-gray-700"
    hx-get="/produtos/tabela" hx-trigger="load" hx-swap="innerHTML"></div>
  <div class="overflow-x-auto block md:hidden rounded-lg" hx-get="/produtos/mobile/lista" hx-trigger="load"
    hx-swap="innerHTML"></div>
</div>


<div id="modal-container-reporestoque-produtos"></div>
<div id="modal-template-reporestoque-produtos" class="hidden">
  <div class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-50"
    hx-get="/produtos/reposicao/estoque" hx-trigger="load" hx-swap="innerHTML"></div>
</div>

<div id="modal-container-reporestoque-produtos-relatorio"></div>
<div id="modal-template-reporestoque-produtos-relatorio" class="hidden">
  <div class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-50"
    hx-get="/produtos/reposicao/relatorio" hx-trigger="load" hx-swap="innerHTML"></div>
</div>

<div id="modal-container-gerar-relatorio-produtos"></div>
<div id="modal-template-gerar-relatorio-produtos" class="hidden">
  <div class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-50"
    hx-get="/produtos/relatorio/geral" hx-trigger="load" hx-swap="innerHTML">
  </div>
</div>

<script>
  function editarProduto(id) {
    localStorage.setItem("produtoId", id);
    htmx.ajax("GET", "produtos/editar/formulario", {
      target: "#content",
      swap: "innerHTML",
      headers: {
        Authorization: "Bearer " + localStorage.getItem("gestao_facil:token"),
      },
    });
  }
  function visualizarProduto(id) {
    htmx.ajax("GET", `produtos/detalhes/${id}`, {
      target: "#content-produtos",
      swap: "innerHTML",
      headers: {
        Authorization: "Bearer " + localStorage.getItem("gestao_facil:token"),
      },
    });
  }
  function excluirProduto(id, retornar = false) {
    Swal.fire({
      title: "Excluir produto",
      text: "Tem certeza que deseja excluir este produto?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Sim, excluir!",
      cancelButtonText: "Cancelar",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          dataType: "json",
          type: "DELETE",
          url: `/api/produtos/${id}`,
          beforeSend: function (xhr) {
            const tokenJWT = localStorage.getItem("gestao_facil:token");
            if (tokenJWT) {
              xhr.setRequestHeader("Authorization", `Bearer ${tokenJWT}`);
            }
            Swal.fire({
              title: "Carregando...",
              allowOutsideClick: false,
              allowEscapeKey: false,
              showConfirmButton: false,
              didOpen: () => {
                Swal.showLoading();
              },
            });
          },
          success: function (response) {
            Swal.fire({
              title: "Produto excluído!",
              text: "O produto foi excluído com sucesso!",
              icon: "success",
              toast: true,
              showConfirmButton: false,
              position: "bottom-end",
              timer: 3000,
            });
            if (!retornar) {
              reloadTabelaProdutos();
            } else {
              loadPage('/produtos/resumo');
            }
          },
          error: function (error) {
            Swal.fire({
              title: "Erro ao excluir produto!",
              text: "Ocorreu um erro ao excluir o produto. Por favor, tente novamente.",
              icon: "error",
              confirmButtonColor: "#3085d6",
              confirmButtonText: "OK",
            });
          },
        });
      }
    });
  }
  function salvarProduto() {
    localStorage.removeItem("produtoId");
    htmx.ajax("GET", "produtos/editar/formulario", {
      target: "#content",
      swap: "innerHTML",
    });
  };
</script>