<div id="tabela_produtos_listagem_principal_container">
    <table id="tabela_produtos_listagem_principal" class="display nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Código</th>
                <th>Entrada</th>
                <th>Saída</th>
                <th>Preço</th>
                <th>Qtd</th>
                <th class="flex justify-end w-36">Ações</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    function reloadTabelaProdutos() {
        const tabela = $("#tabela_produtos_listagem_principal").DataTable();
        tabela.ajax.reload(null, false);
    }

    new DataTable("#tabela_produtos_listagem_principal", {
        language: {
            url: "/lang/pt-Br.json",
        },
        fixedColumns: {
            start: 0,
            end: 1
        },
        scrollCollapse: true,
        scrollX: true,
        processing: true,
        serverSide: true,
        stateSave: true,
        ajax: {
            type: "GET",
            url: `/api/produtos`,
            headers: {
                "Authorization": "Bearer " + localStorage.getItem("gestao_facil:token"),
            },
            error: function (xhr, status, error) {
                console.log("tabela_produtos:" + error);
            },
        },
        columns: [
            { data: "Uid", className: "bg-gray-50 dark:bg-gray-900" },
            { data: "nome" },
            { data: "codigo" },
            { data: "entradas" },
            { data: "saidas" },
            { data: "preco" },
            { data: "estoque" },
            {
                data: "acoes",
                orderable: false,
                searchable: false,
                className: "flex justify-end w-36 bg-gray-50 dark:bg-gray-900",
            },
        ],
    });
</script>